@import 'authentication';
@import 'dashboard';

.flex-stack {
  justify-content: space-between;
  align-items: center;
}

.my-1 {
  margin-top: .25rem !important;
  margin-bottom: .25rem !important;
}

.ps-14 {
  padding-left: 3.5rem !important;
}

.ps-6 {
  padding-left: 1.5rem !important;
}

.ps-7 {
  padding-left: 1.9rem !important;
}

.table-4877{
  th, td {
    background-color: unset !important;
  }
}


