.badge-active {
    background-color: #28a745; /* Green for active status */
    color: white;
  }
  
  .badge-inactive {
    background-color: #a72121; /* Gray for inactive status */
    color: white;
  }
  @media (max-width: 767.98px) {
  .category-description {
    display: none !important;
  }
}