<!--begin::Tables widget 14-->
<div class="card card-flush">
    <!--begin::Header-->
    <div class="card-header pt-7">
        <!--begin::Title-->
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label fw-bold text-gray-800">Most Selling Product of this month </span>
            <span class="text-gray-400 mt-1 fw-semibold fs-6">Updated 37 minutes ago</span>
        </h3>
        <!--end::Title-->
        <!--begin::Toolbar-->
        <div class="card-toolbar">
            <a href="../../demo1/dist/apps/ecommerce/catalog/add-product.html" class="btn btn-sm btn-light">History</a>
        </div>
        <!--end::Toolbar-->
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="table-responsive">
      <!--begin::Table-->
      <table class="table table-row-dashed align-middle gs-0 gy-3 my-0">
        <!--begin::Table head-->
        <thead>
          <tr class="fs-7 fw-bold text-gray-400 border-bottom-0">
            <th class="p-0 pb-3 min-w-175px text-start">ITEM</th>
            <th class="p-0 pb-3 min-w-100px text-end">BUDGET</th>
            <th class="p-0 pb-3 min-w-175px text-end pe-12">STATUS</th>
            <th class="p-0 pb-3 w-50px text-end">VIEW</th>
          </tr>
        </thead>
        <!--end::Table head-->

        <!--begin::Table body-->
        <tbody>
          <tr *ngFor="let product of products">
            <td>
              <div class="d-flex align-items-center">
                <div class="symbol symbol-50px me-3">
                  <img [src]="product.image" [alt]="product.name" class="" />
                </div>
                <div class="d-flex justify-content-start flex-column">
                  <a href="#" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">{{ product.name }}</a>
                </div>
              </div>
            </td>
            <td class="text-end pe-0">
              <span class="text-gray-600 fw-bold fs-6">${{ product.price.toFixed(2) }}</span>
            </td>
            <td class="text-end pe-12">
              <span class="badge py-3 px-4 fs-7 badge-light-primary">pending</span>
            </td>
            <td class="text-end">
              <a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px">
                <span class="svg-icon svg-icon-5 svg-icon-gray-700">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.4 11H3C2.4 11 2 11.4 2 12C2 12.6 2.4 13 3 13H14.4V11Z"
                        fill="currentColor" />
                    <path opacity="0.3"
                        d="M14.4 20V4L21.7 11.3C22.1 11.7 22.1 12.3 21.7 12.7L14.4 20Z"
                        fill="currentColor" />
                  </svg>
                </span>
              </a>
            </td>
          </tr>
        </tbody>
        <!--end::Table body-->
      </table>
    </div>

        <!--end::Table-->
    </div>
    <!--end: Card Body-->

<!--end::Tables widget 14-->
