<!--begin::Tables widget 14-->
<div class="card card-flush">
  <!--begin::Header-->
  <div class="card-header pt-7">
    <!--begin::Title-->
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bold text-gray-800">Most Selling Product of this month</span>
      <span class="text-gray-400 mt-1 fw-semibold fs-6">Updated 37 minutes ago</span>
    </h3>
    <!--end::Title-->
    <!--begin::Toolbar-->
    <div class="card-toolbar">
      <a href="../../demo1/dist/apps/ecommerce/catalog/add-product.html" class="btn btn-sm btn-light">History</a>
    </div>
    <!--end::Toolbar-->
  </div>
  <!--end::Header-->
  <!--begin::Body-->
  <div class="table-responsive">
    <!--begin::Table-->
    <table class="table table-row-dashed align-middle gs-0 gy-2 my-0">
      <thead>
        <tr class="fs-7 fw-bold text-gray-500 border-bottom-0">
          <th class="ps-0">Item</th>
          <th class="text-end">Quantity Sold</th>
          <th class="pe-0 text-end">Price</th>
          <th class="pe-0 text-end">Revenue</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>
            <div class="d-flex align-items-center">
              <!--begin::Thumbnail-->
              <a href="#" class="symbol symbol-50px">
                <span class="symbol-label" [ngStyle]="{ 'background-image': 'url(' + product.image + ')' }"></span>
              </a>
              <!--end::Thumbnail-->
              <div class="ms-3">
                <!--begin::Title-->
                <a
                  href="../../demo1/dist/apps/ecommerce/catalog/edit-product.html"
                  class="text-gray-800 text-hover-primary fs-6 fw-bold"
                  data-kt-ecommerce-product-filter="product_name"
                >
                  {{ product.name }}
                </a>
                <!--end::Title-->
              </div>
            </div>
          </td>
          <td>
            <span class="text-gray-800 fw-bold d-block fs-6 ps-0 text-end">
              {{ product.totalQuantitySold || '234' }}
            </span>
          </td>
          <td class="text-end pe-0">
            <span class="text-gray-800 fw-bold d-block fs-6">${{ product.price.toFixed(2) }}</span>
          </td>
          <td class="text-end pe-0">
            <span class="text-gray-800 fw-bold d-block fs-6">${{ (product.price * product.totalQuantitySold).toFixed(2) }}</span>
          </td>
        </tr>
      </tbody>
    </table>
    <!--end::Table-->
  </div>
  <!--end::Body-->
</div>
<!--end::Tables widget 14-->
