<app-kt-list-detail-page [title]="'Users'">
  <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
    <!--begin::Card body-->
    <div class="card-body">
      <!--begin::Row-->
      <div class="col-xl-3">
        <div class="fs-6 fw-semibold mt-2 mb-3">Profile Photo</div>
      </div>
      <!--end::Col-->
      <!--begin::Col-->
      <div class="col-lg-8" style="margin-bottom:50px">
        <!--begin::Image input-->
        <div class="image-input image-input-outline" data-kt-image-input="true">
          <!--begin::Preview existing avatar-->
          <div
            class="image-input-wrapper w-125px h-125px bgi-position-center"
            [ngStyle]="{ 'background-image': 'url(' + item.image + ')' }"
          ></div>
          <!--end::Preview existing avatar-->
          <!--begin::Label-->

          <!--end::Label-->
          <!--begin::Cancel-->
          <span
            class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-white shadow"
            data-kt-image-input-action="cancel"
            data-bs-toggle="tooltip"
            title="Cancel avatar"
          >
            <i class="bi bi-x fs-2"></i>
          </span>
          <!--end::Cancel-->
          <!--begin::Remove-->
          <span
            class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-white shadow"
            data-kt-image-input-action="remove"
            data-bs-toggle="tooltip"
            title="Remove avatar"
          >
            <i class="bi bi-x fs-2"></i>
          </span>
          <!--end::Remove-->
        </div>
        <!--end::Image input-->
        <!--begin::Hint-->
        <!--end::Hint-->
      </div>
      <div class="row mb-7">
        <!--begin::Label-->
        <label class="col-lg-4 fw-semibold text-muted">User Name</label>
        <!--end::Label-->
        <!--begin::Col-->
        <div class="col-lg-8">
          <span class="fw-bold fs-6 text-gray-800">{{item?.name}}</span>
        </div>
        <!--end::Col-->
      </div>
      <!--end::Row-->

      <!--begin::Input group-->
      <div class="row mb-7">
        <label class="col-lg-4 fw-semibold text-muted">Email</label>
        <div class="col-lg-8">
          <span class="fw-semibold text-gray-800 fs-6">{{item?.email}}</span>
        </div>
      </div>
      <!--end::Input group-->

      <div class="row mb-7">
        <label class="col-lg-4 fw-semibold text-muted">Phone</label>
        <div class="col-lg-8">
          <span class="fw-semibold text-gray-800 fs-6">{{item?.phone}}</span>
        </div>
      </div>

      <div class="row mb-7">
        <label class="col-lg-4 fw-semibold text-muted">Role</label>
        <div class="col-lg-8">
          <span class="fw-semibold text-gray-800 fs-6">{{item?.role}}</span>
        </div>
      </div>


      <div class="row mb-7">
        <label class="col-lg-4 fw-semibold text-muted">Address</label>
        <div class="col-lg-8">
          <span class="fw-semibold text-gray-800 fs-6">{{item?.address}}</span>
        </div>
      </div>

      <div class="row mb-7">
        <label class="col-lg-4 fw-semibold text-muted">City</label>
        <div class="col-lg-8">
          <span class="fw-semibold text-gray-800 fs-6">{{item?.city}}</span>
        </div>
      </div>

      <div class="row mb-7">
        <label class="col-lg-4 fw-semibold text-muted">State</label>
        <div class="col-lg-8">
          <span class="fw-semibold text-gray-800 fs-6">{{item?.state}}</span>
        </div>
      </div>

      <div class="row mb-7">
        <label class="col-lg-4 fw-semibold text-muted">Country</label>
        <div class="col-lg-8">
          <span class="fw-semibold text-gray-800 fs-6">{{item?.country}}</span>
        </div>
      </div>

      <div class="row mb-7">
        <label class="col-lg-4 fw-semibold text-muted">Status</label>
        <div class="col-lg-8">
          <span class="fw-bold fs-6 text-gray-800">{{item?.status}}</span>
        </div>
      </div>


    </div>
    <!--end::Card body-->
  </div>
</app-kt-list-detail-page>
