<div class="main-panel app-content" id="app-content">
  <!-- BEGIN : Main Content-->
  <div class="main-content">
    <div class="content-overlay"></div>
    <div class="">
      <div class="row">
        <div class="col-12">
          <div class="content-header">{{ title }}</div>
        </div>
      </div>


      <section  class="">
        <div class="content-body">
          <div class="row">
            <div class="col-12">
              <ng-content></ng-content>
            </div>
          </div>
        </div>
      </section>


    </div>
  </div>
</div>
