 .timeline-container {
     position: relative;
     padding-left: 40px;
 }

 .timeline-container::before {
     content: '';
     position: absolute;
     left: 15px;
     top: 5px;
     bottom: 5px;
     width: 2px;
     background-color: #e9ecef;
 }


 .timeline-item {
     position: relative;
     margin-bottom: 2rem;
 }

 .timeline-item:last-child {
     margin-bottom: 0;
 }

 .timeline-icon {
     position: absolute;
     left: -40px;
     top: 0;
     width: 32px;
     height: 32px;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     color: #fff;
     background-color: #6c757d;
     /* Default color */
 }

 .timeline-icon i {
     font-size: 1rem;
 }

 /* Icon Colors */
 .timeline-icon.icon-order_created {
     background-color: #007bff;
 }

 .timeline-icon.icon-status_change {
     background-color: #ffc107;
 }

 .timeline-icon.icon-payment_status {
     background-color: #28a745;
 }

 .timeline-content {
     padding-left: 1rem;
 }