<!-- <app-kt-list-detail-page [title]="'Category'">

  <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
    <div class="card-body">
      <div class="col-xl-3">
        <div class="fs-6 fw-semibold mt-2 mb-3">Category Photo</div>
      </div>
      <div class="col-lg-8" style="margin-bottom:50px">
        <div class="image-input image-input-outline" data-kt-image-input="true">
          <div
            class="image-input-wrapper w-125px h-125px bgi-position-center"
            [ngStyle]="{ 'background-image': 'url(' + item.image + ')' }"
          ></div>
          <span
            class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-white shadow"
            data-kt-image-input-action="cancel"
            data-bs-toggle="tooltip"
            title="Cancel avatar"
          >
            <i class="bi bi-x fs-2"></i>
          </span>
          <span
            class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-white shadow"
            data-kt-image-input-action="remove"
            data-bs-toggle="tooltip"
            title="Remove avatar"
          >
            <i class="bi bi-x fs-2"></i>
          </span>
        </div>
      </div>
      <div class="row mb-7">
        <label class="col-lg-4 fw-semibold text-muted">Name</label>
        <div class="col-lg-8">
          <span class="fw-bold fs-6 text-gray-800">{{item?.name}}</span>
        </div>
      </div>
      <div class="row mb-7">
        <label class="col-lg-4 fw-semibold text-muted">Description</label>
        <div class="col-lg-8">
          <span class="fw-bold fs-6 text-gray-800">{{item?.description}}</span>
        </div>
      </div>
      <div class="row mb-7">
        <label class="col-lg-4 fw-semibold text-muted">Identifier</label>
        <div class="col-lg-8">
          <span class="fw-bold fs-6 text-gray-800">{{item?.identifier}}</span>
        </div>
      </div>
      <div class="row mb-7">
        <label class="col-lg-4 fw-semibold text-muted">Status</label>
        <div class="col-lg-8">
          <span class="fw-bold fs-6 text-gray-800">{{item?.status}}</span>
        </div>
      </div>
    </div>
  </div>

</app-kt-list-detail-page> -->


<div class="main-panel">
  <!-- BEGIN : Main Content-->
  <div class="main-content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
      <section class="users-view">
        <!-- Media object starts -->
        <div class="row">
          <div class="col-12 col-sm-7">
            <div class="media d-flex align-items-center">
              <a href="javascript:;">
                <img [src]="item?.image" alt="user view avatar" class="users-avatar-shadow rounded" height="64" width="64" />
              </a>
              <div class="media-body ml-3">
                <h4>
                  <span class="users-view-name">{{ item?.name }}</span>
                </h4>
                <span>ID:</span>
                <span class="users-view-id">{{ itemId }}</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Media object ends -->

        <div class="row">
          <div class="col-12">
            <!-- Card data starts -->
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <div class="row">
                    <div class="col-4 col-xl-4">
                      <table class="table table-borderless">
                        <tbody>
                          <tr>
                            <td style="padding: 0.5rem 0 !important">Description:</td>
                            <td style="padding: 0.5rem 0 !important">{{ item?.description }}</td>
                          </tr>
                          <tr>
                            <td style="padding: 0.5rem 0 !important">Identifier</td>
                            <td style="padding: 0.5rem 0 !important">{{ item?.identifier }}</td>
                          </tr>
                          <tr>
                            <td style="padding: 0.5rem 0 !important">Status:</td>
                            <td style="padding: 0.5rem 0 !important">
                              <span
                                class="badge fw-bold me-auto"
                                [ngClass]="{
                                  'badge-active': item.status === 'Active',
                                  'badge-inactive': item.status === 'Inactive'
                                }"
                              >
                                {{ item?.status }}
                              </span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>