<app-kt-list-detail-page [title]="'Category'">

  <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
    <!--begin::Card body-->
    <div class="card-body">
      <div class="col-xl-3">
        <div class="fs-6 fw-semibold mt-2 mb-3">Category Photo</div>
      </div>
      <!--end::Col-->
      <!--begin::Col-->
      <div class="col-lg-8" style="margin-bottom:50px">
        <!--begin::Image input-->
        <div class="image-input image-input-outline" data-kt-image-input="true">
          <!--begin::Preview existing avatar-->
          <div
            class="image-input-wrapper w-125px h-125px bgi-position-center"
            [ngStyle]="{ 'background-image': 'url(' + item.image + ')' }"
          ></div>
          <!--end::Preview existing avatar-->
          <!--begin::Label-->

          <!--end::Label-->
          <!--begin::Cancel-->
          <span
            class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-white shadow"
            data-kt-image-input-action="cancel"
            data-bs-toggle="tooltip"
            title="Cancel avatar"
          >
            <i class="bi bi-x fs-2"></i>
          </span>
          <!--end::Cancel-->
          <!--begin::Remove-->
          <span
            class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-white shadow"
            data-kt-image-input-action="remove"
            data-bs-toggle="tooltip"
            title="Remove avatar"
          >
            <i class="bi bi-x fs-2"></i>
          </span>
          <!--end::Remove-->
        </div>
        <!--end::Image input-->
        <!--begin::Hint-->
        <!--end::Hint-->
      </div>
      <!--begin::Row-->
      <div class="row mb-7">
        <!--begin::Label-->
        <label class="col-lg-4 fw-semibold text-muted">Name</label>
        <!--end::Label-->
        <!--begin::Col-->
        <div class="col-lg-8">
          <span class="fw-bold fs-6 text-gray-800">{{item?.name}}</span>
        </div>
        <!--end::Col-->
      </div>
      <!--end::Row-->

      <!--begin::Row-->
      <div class="row mb-7">
        <!--begin::Label-->
        <label class="col-lg-4 fw-semibold text-muted">Description</label>
        <!--end::Label-->
        <!--begin::Col-->
        <div class="col-lg-8">
          <span class="fw-bold fs-6 text-gray-800">{{item?.description}}</span>
        </div>
        <!--end::Col-->
      </div>
      <!--end::Row-->

      <!--begin::Row-->
      <div class="row mb-7">
        <!--begin::Label-->
        <label class="col-lg-4 fw-semibold text-muted">Identifier</label>
        <!--end::Label-->
        <!--begin::Col-->
        <div class="col-lg-8">
          <span class="fw-bold fs-6 text-gray-800">{{item?.identifier}}</span>
        </div>
        <!--end::Col-->
      </div>
      <!--end::Row-->

      <!--begin::Row-->
      <!--end::Row-->

      <!--begin::Row-->
      <!--end::Row-->

      <!--begin::Row-->
      <div class="row mb-7">
        <!--begin::Label-->
        <label class="col-lg-4 fw-semibold text-muted">Status</label>
        <!--end::Label-->
        <!--begin::Col-->
        <div class="col-lg-8">
          <span class="fw-bold fs-6 text-gray-800">{{item?.status}}</span>
        </div>
        <!--end::Col-->
      </div>
      <!--end::Row-->

    </div>
    <!--end::Card body-->
  </div>

</app-kt-list-detail-page>
