<div id="print-section" style="width:60mm; font-family: Arial, sans-serif; font-size: 12px;  margin: 0;
    padding-left: 2mm;">

  <!-- Logo -->
  <div style="text-align: center; margin-bottom: 10px;">
    <img *ngIf="item?.restaurant.logo_base64" [src]="item.restaurant.logo_base64"
      style="width:100px; height:auto; display:block; margin:0 auto;" alt="Logo">
    <h2 style="font-size: 14px; margin: 5px 0;">{{ item?.order_number }}</h2>
    <div style="font-size: 10px;">Order No</div>
  </div>

  <!-- Company Info -->
  <div style="text-align: center; font-size: 10px; line-height: 1.4;">
    <strong>{{ item?.restaurant.name }}</strong><br>
    {{ item?.restaurant.address }}<br>
    {{ item?.restaurant.phone }}<br>
  </div>

  <hr style="border-top: 1px dashed #000; margin: 8px 0;">

  <!-- Billing Info -->
  <div style="text-align: center; font-size: 10px; line-height: 1.4;">
    <strong>Bill to:</strong> {{ item?.customer }} ({{ item?.customer_phone | maskPhone }})<br>
    {{ item?.delivery_address }}
  </div>

  <!-- Product Table -->
  <table style="width: 100%; border-collapse: collapse; margin-top: 5px; font-size: 10px; table-layout: fixed;">
    <colgroup>
      <col style="width: 43%;">
      <col style="width: 20%;">
      <col style="width: 13%;">
      <col style="width: 24%;">
    </colgroup>

    <thead>
      <tr style="background: #222; color: #fff;">
        <th style="padding: 6px; text-align: left; border: 0.5px solid #eee;">Menu</th>
        <th style="padding: 6px; text-align: right; border: 0.5px solid #eee;">Price</th>
        <th style="padding: 6px; text-align: center; border: 0.5px solid #eee;">Qty</th>
        <th style="padding: 6px; text-align: right; border: 0.5px solid #eee;">Total</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let prod of item?.products; let i = index" style="background: #fff;">
        <td style="padding: 2px 3px; border: 0.5px solid #eee; word-wrap: break-word;">
          <div style="display: flex; flex-wrap: nowrap; justify-content: space-between;">
            <span>{{ prod?.product_name }} ({{ prod?.category }})</span>
          </div>
          <div style="font-size: 9px; color: #666;">
            <span *ngFor="let variation of prod.variation">
              <span *ngFor="let option of variation.options" [hidden]="!option.selected">
                {{ option.name }} ({{ currencySymbol }}{{ option.price | number:'1.2-2' }})
              </span>
            </span>
          </div>

        </td>

        <td style="padding: 2px 3px; text-align: right; border: 0.5px solid #eee;">
          {{ prod.price | number:'1.2-2' }}
        </td>
        <td style="padding: 2px 3px; text-align: center; border: 0.5px solid #eee;">
          {{ prod.quantity }}
        </td>
        <td style="padding: 2px 3px; text-align: right; border: 0.5px solid #eee;">
          {{ (prod.quantity * prod.price) | number:'1.2-2' }}
        </td>
      </tr>
    </tbody>

    <tfoot>
      <tr>
        <td colspan="3" style="padding: 6px; text-align: left; font-weight: bold; border: 0.5px solid #eee;">Subtotal
        </td>
        <td style="padding: 2px 3px; text-align: right; font-size: 9px; font-weight: bold; border: 0.5px solid #eee;">
          {{ item?.total_price | number:'1.2-2' }}
        </td>
      </tr>

      <tr *ngIf="item?.tax_amount > 0">
        <td colspan="3" style="padding: 6px; text-align: left; font-weight: bold; border: 0.5px solid #eee;">Tax</td>
        <td style="padding: 2px 3px; text-align: right; font-weight: bold; font-size: 9px; border: 0.5px solid #eee;">
          {{ item?.tax_amount | number:'1.2-2' }}
        </td>
      </tr>

      <tr *ngIf="item?.discount_value > 0">
        <td colspan="3" style="padding: 6px; text-align: left; font-weight: bold; border: 0.5px solid #eee;">Discount
        </td>
        <td style="padding: 2px 3px; text-align: right; font-weight: bold; font-size: 9px; border: 0.5px solid #eee;">
          {{ item?.discount_value | number:'1.2-2' }}
        </td>
      </tr>

      <tr *ngIf="item?.tips > 0">
        <td colspan="3" style="padding: 6px; text-align: left; font-weight: bold; border: 0.5px solid #eee;">Tips</td>
        <td style="padding: 2px 3px; text-align: right; font-weight: bold; font-size: 9px; border: 0.5px solid #eee;">
          {{ item?.tips | number:'1.2-2' }}
        </td>
      </tr>

      <tr style="border-top: 2px solid #222; background: #fff;">
        <td colspan="3" style="padding: 6px; text-align: left; font-weight: bold; border: 0.5px solid #eee;">Total</td>
        <td style="padding: 2px 3px; text-align: right; font-weight: bold; font-size: 9px; border: 0.5px solid #eee;">
          {{ currencySymbol }}{{ item?.final_total | number:'1.2-2' }}
        </td>
      </tr>
    </tfoot>
  </table>

  <!-- Footer -->
  <div style="margin-top: 8px; font-size: 9px; text-align: center; line-height: 1.4;">
    Thank you for dining with us! We appreciate your business and hope you enjoyed your meal.<br>
    Please visit us again soon. If you have any feedback, let us know!
  </div>

  <!-- Date -->
  <div style=" text-align: center; margin-top: 8px; font-size: 10px;">
    Date: {{ item?.created_at | date:'dd MMMM, yyyy' }}
  </div>
</div>