<!-- <div class="d-flex">

    <select class="form-select fw-medium fs-6 text-gray-800"  [(ngModel)]="selectedStatus">
      <option *ngFor="let status of statuses" [value]="status" >
        {{ status | titlecase }}
      </option>
    </select>
    <button class="btn btn-primary col-auto" (click)="updateStatus(item)">Update</button>
  </div> -->
  <div class="d-flex align-items-center">
    <div
      class="badge fw-bold me-auto position-relative"
      [ngClass]="{
        'badge-pending': item?.status === 'Pending' || item?.status === 'pending',
        'badge-confirmed': item?.status === 'Confirmed' || item?.status === 'confirmed',
        'badge-preparing': item?.status === 'Preparing' || item?.status === 'preparing',
        'badge-ready-for-pickup': item?.status === 'Ready For Pickup' || item?.status === 'ready_for_pickup',
        'badge-out-for-delivery': item?.status === 'Out For Delivery' || item?.status === 'out_for_delivery',
        'badge-delivered': item?.status === 'Delivered' || item?.status === 'delivered',
        'badge-completed': item?.status === 'Completed' || item?.status === 'completed',
        'badge-cancelled': item?.status === 'Cancelled' || item?.status === 'cancelled',
      }"
      ngbDropdown
    >
      {{ item?.status | titlecase }}

      <!-- Dropdown Icon -->
      <i class="bi bi-chevron-down ms-2 fs-12 text-dark" ngbDropdownToggle></i>


      <!-- Dropdown Menu -->
      <div ngbDropdownMenu>
        <button
          *ngFor="let status of statuses"
          class="dropdown-item"
          (click)="updateStatus(status,item)"
        >
          {{ status }}
        </button>
      </div>
    </div>
  </div>
