<app-kt-list-page
  [title]="'Tables'"
  [addurl]="'/pages/tables/add'"
  (onFilter)="toggleFilters()"
  [showDeleteAll]="showDeleteAllButton"
  (onDeleteAll)="onDeleteAll($event)"
>
  <form class="mt-3" [formGroup]="form" *ngIf="crudService.filters">
    <formly-form [form]="form" [fields]="fields" [model]="model" (modelChange)="debouncedSubmitFilters($event)"></formly-form>
    <button type="button" class="btn btn-secondary mt-2" (click)="resetFilters()">Reset Filters</button>
  </form>

  <hr *ngIf="crudService.filters" />

  <app-kt-app-list-page-table
    [columns]="columns"
    [currentPage]="crudService.page"
    [totalPages]="crudService.lastPage"
    (pageChange)="changePage($event)"
    (pageChange)="changePage($event)"
    [selectAll]="selectAll"
    (pageSize)="changePageSize($event)"
    (changeSelectAll)="changeSelectAll($event); showDeleteAllButton = $event"
  >
    <!-- Show "No results found" when not loading and list is empty -->
    <tr *ngIf="!crudService.loading && crudService.list.length === 0">
      <td colspan="5" class="text-center">No results found.</td>
    </tr>
    <!-- Hide rows when loading -->
    <tr [hidden]="!(!crudService.loading && crudService.list.length > 0)" *ngFor="let item of crudService.list; let i = index">
      <td>
        <div class="d-flex align-items-center">
          <!--begin::Thumbnail-->

          <!--end::Thumbnail-->
          <div class="ms-5">
            <!--begin::Title-->
            <a (click)="openDetails(i)" class="text-hover-primary fs-5 fw-bold" data-kt-ecommerce-product-filter="product_name">
              {{ item.identifier }}
            </a>
            <div class="fs-7 fw-bold">Total Orders:{{ item?.total_orders }}</div>

            <!--end::Title-->
          </div>
        </div>
      </td>

      <td>
        <div class="d-flex">
          <div class="ms-5">
            <a class="text-hover-primary fs-5 fw-bold mb-1">{{ item.no_of_seats }}</a>
          </div>
        </div>
      </td>
      <td>
        <div class="d-flex">
          <div class="ms-5">
            <a class="text-hover-primary fs-5 fw-bold mb-1">{{ item.floor }}</a>
          </div>
        </div>
      </td>
      <td>
        <div class="d-flex">
          <a href="#" class="badge badge-info fw-bold me-auto">{{ item?.total_orders }}</a>
        </div>
      </td>
      <td>
        <div class="d-flex">
          <div
            class="badge fw-bold me-auto"
            [ngClass]="{
              'badge-active': item?.status === 'Active' || item?.status === 'active',
              'badge-reserved': item?.status === 'Reserved' || item?.status === 'reserved',
              'badge-inactive': item.status === 'Inactive'
            }"
          >
            {{ item.status }}
          </div>
        </div>
      </td>
      <!-- <ng-content></ng-content> -->
      <!--begin::Action=-->
      <td class="text-start">
        <div class="d-flex flex-row justify-content-start align-items-center gap-3">
          <i class="ti ti-eye view-icon" style="font-size: 20px; cursor: pointer" (click)="openDetails(i)"></i>
          <i class="edit-icon ti ti-edit" style="font-size: 20px; cursor: pointer" (click)="openEditDetails(i)"></i>
          <i *ngIf="showEdit" class="ti ti-trash trash-icon" style="font-size: 20px; cursor: pointer" (click)="deleteRow(i)"></i>
        </div>
      </td>
      <!--end::Action=-->
      <!--begin::Checkbox-->
      <td>
        <div class="form-check form-check-sm form-check-custom form-check-solid">
          <input
            class="form-check-input"
            type="checkbox"
            [value]="item.selected"
            [checked]="item.selected"
            (change)="checkboxUpdate(i, $event)"
          />
        </div>
      </td>
      <!--end::Checkbox-->
      <!--end::Table row-->
    </tr>
    <tr *ngIf="crudService.loading">
      <!-- Thumbnail Column -->
      <td>
        <div class="d-flex align-items-center">
          <!-- Thumbnail Loader -->
          <ngx-skeleton-loader
            appearance="custom-content"
            [theme]="{ width: '50px', height: '50px', background: 'rgba(0,0,0,0.2)' }"
            [animation]="true"
          >
            <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
              <i class="ti ti-align-center" style="font-size: 24px"></i>
            </div>
          </ngx-skeleton-loader>
          <div class="ms-5">
            <!-- Title Loader -->
            <ngx-skeleton-loader
              appearance="custom-content"
              [theme]="{ width: '150px', height: '20px', background: 'rgba(0,0,0,0.2)' }"
              [animation]="true"
            ></ngx-skeleton-loader>
          </div>
        </div>
      </td>

      <!-- Address Column -->
      <!-- <td>
        <div class="d-flex align-items-center">
          <ngx-skeleton-loader
            appearance="custom-content"
            [theme]="{ width: '120px', height: '20px', background: 'rgba(0,0,0,0.2)' }"
            [animation]="true"
          ></ngx-skeleton-loader>
        </div>
      </td> -->

      <!-- Status Column -->
      <td>
        <ngx-skeleton-loader
          appearance="custom-content"
          [theme]="{ width: '50px', height: '20px', 'border-radius': '12px', background: 'rgba(0,0,0,0.2)' }"
        ></ngx-skeleton-loader>
      </td>
      <td>
        <ngx-skeleton-loader
          appearance="custom-content"
          [theme]="{ width: '90px', height: '20px', 'border-radius': '7px', background: 'rgba(0,0,0,0.2)' }"
        ></ngx-skeleton-loader>
      </td>
      <td>
        <ngx-skeleton-loader
          appearance="custom-content"
          [theme]="{ width: '50px', height: '20px', 'border-radius': '7px', background: 'rgba(0,0,0,0.2)' }"
        ></ngx-skeleton-loader>
      </td>
      <td>
        <ngx-skeleton-loader
          appearance="custom-content"
          [theme]="{ width: '60px', height: '20px', 'border-radius': '7px', background: 'rgba(0,0,0,0.2)' }"
        ></ngx-skeleton-loader>
      </td>
      <!-- Action Icons -->
      <td class="text-end">
        <div class="d-flex flex-row justify-content-end align-items-center gap-3">
          <ngx-skeleton-loader
            *ngFor="let _ of [1, 2, 3, 4]"
            appearance="custom-content"
            [theme]="{ width: '24px', height: '24px', background: 'rgba(0,0,0,0.2)' }"
          ></ngx-skeleton-loader>
        </div>
      </td>

      <!-- Checkbox Column -->
      <td>
        <div class="form-check form-check-sm form-check-custom form-check-solid">
          <input class="form-check-input" type="checkbox" />
        </div>
      </td>
    </tr>
  </app-kt-app-list-page-table>
</app-kt-list-page>
