.active-link {
  // background: var(--bs-blue);
  //color: var(--bs-blue) !important;
}
.toolbar-container {
  display: flex;
  align-items: center; /* Align items in the same line */
  gap: 16px; /* Add space between items */
  margin: 16px 0; /* Top and bottom margin for the list */
}

.card-toolbar {
  margin-top: 24px; /* Add some gap from the top */
}
.restaurant-123 {
  margin-top: 24px; /* Add some gap from the top */
  margin-right:24px;
}

.pc-h-item {
  margin-top: 8px; /* Ensure consistent gap for other components */
}
.pc-header {
  display: flex;
  flex-direction: column;
}
.pc-header .d-flex {
  display: flex;
}
.pc-header .m-header {
  display: flex;
  align-items: center;
  width:130px;
}
@media (max-width: 768px) {
  .pc-header .d-flex.flex-row.align-items-center.p-3 {
    flex-wrap: wrap; /* Allow wrapping of items on smaller screens */

  }
  .pc-mob-drp{
    display: none !important;}

    .card-toolbar .btn-primary {
      display: none !important;}
  }

.header-user-profile{

border: none;


}
img{
height: 70px;

}
.res432{

  margin-right:32px;
  gap: 32px;
}
