<header class="pc-header coded-header d-flex flex-column">
  <div class="d-flex flex-row">
    <div class="m-header">
      <a class="b-brand">
        <img  [src]="setLogo()" alt="" class="logo logo-lg" />
      </a>
    </div>


    <div  class="me-auto pc-mob-drp d-flex flex-row align-items-center">
      <h1>{{restaurant$?.name}}</h1>
    </div>

    <div class="header-wrapper">
      <div class="ms-auto">
        <ul class="list-unstyled">
          <!-- <li>
            <div class="btn btn-sm fw-bold btn-primary d-flex align-items-center gap-2 restaurant-123" >Selected Restaurant :{{ restaurant$.name }}</div>
          </li> -->
          <li>
            <!--begin::Card toolbar-->
            <div class="card-toolbar">
              <!--begin::Add customer-->
              <a [routerLink]="addurl" class="btn btn-sm fw-bold btn-primary d-flex align-items-center gap-2">
                <i class="ti ti-plus"></i>
                Create Order
              </a>
              <!--end::Add customer-->
            </div>
            <!--end::Card toolbar-->
          </li>
          <li>
            <div class="dropdown pc-h-item header-user-profile" ngbDropdown>
              <a
                class="pc-head-link head-link-primary  me-0"
                data-bs-toggle="dropdown"
                href="javascript:"
                ngbDropdownToggle
              >
                <span>
                  <i class="ti ti-settings"></i>
                </span>
              </a>
              <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown" ngbDropdownMenu>
                <div class="dropdown-header">
                  <h4>
                    Good Morning,
                    <span class="small text-muted">John Doe</span>
                  </h4>
                  <p class="text-muted">Project Admin</p>
                  <!-- style="height: calc(100vh - 280px)" -->
                  <ng-scrollbar    visibility="hover">
                    <a class="dropdown-item">
                      <i class="ti ti-settings"></i>
                      <span>Account Profile</span>
                    </a>
                    <a href="javascript:" class="dropdown-item">
                      <i class="ti ti-user"></i>
                      <span>Social Profile</span>
                    </a>
                    <a class="dropdown-item" (click)="logout()">
                      <i class="ti ti-logout"></i>
                      <span>Logout</span>
                    </a>
                  </ng-scrollbar>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row align-items-center p-3 btn btn-sm" style="gap: 16px">
    <a
      *ngFor="let item of menuItems"
      [routerLink]="item.link"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: false }"
      class="d-flex align-items-center text-decoration-none text-dark fw-bold"
      style="color: black; font-size: 14px;"
    >
      <i class="{{ item.icon }} me-2"></i>
      {{ item.label }}
    </a>
  </div>
</header>
