<div class="order-create-page-outer">
  <div class="category-sidebar">
    <app-add-order-categories class="mb-5"></app-add-order-categories>
  </div>

  <div class="products-sidebar">
    <app-add-order-products></app-add-order-products>
  </div>

  <div class="order-sidebar">
    <!--begin::Chart widget 8-->
    <div class="card card-flush h-xl-100">
      <!--begin::Header-->
      <div class="card-header">
        <!--begin::Title-->
        <h3 class="card-title align-items-start flex-column col-12">
          <div class="d-flex flex-row gap-5 justify-content-between align-items-center">
            <div class="d-flex flex-column">
              <span class="card-label fw-bold text-dark">Order Overview</span>
              <span class="text-gray-400 mt-1 fw-semibold fs-6">Take a look at bill details</span>
            </div>
            <div class="d-flex flex-row">
              <span class="fs-1 fw-semibold text-gray-400 me-1 mt-n1">$</span>
              <span class="fs-3x fw-bold text-gray-800 me-2 lh-1 ls-n2">{{ orderService.totalCost | number: '1.2-2' }}</span>
            </div>

            <div class="d-flex justify-content-end">
              <button type="submit" *ngIf="orderService.selected_products?.length > 0" (click)="onSubmit($event)" class="btn btn-primary">
                Place Order
              </button>
            </div>
          </div>
        </h3>
      </div>

      <!-- Coupon & Price Section -->
      <!-- Coupon & Price Section -->
      <div class="card-body mt-4 pt-6 border-top">
        <div class="row align-items-start jsustify-content-start gap-3">
          <!-- Left: Coupon Input (Slightly Bigger) -->
          <div class="col-md-5 d-flex align-items-center gap-3">
            <input
              type="text"
              [(ngModel)]="orderService.couponCode"
              class="form-control form-control-md w-auto px-3 py-2"
              placeholder="Enter Coupon"
              style="max-width: 200px"
            />
            <button class="btn btn-secondary btn-md px-4 py-2" (click)="orderService.applyCoupon()">Apply</button>
          </div>

          <!-- Right: Price & Discount Section (More to the Left) -->
          <div class="col-md-6 d-flex justify-content-end gap-4 " style="margin-left: 75px;">
            <div class="fs-6 fw-semibold text-white badge badge-info">
              Discount:
              <span class="text-white">${{ orderService.discountAmount | number: '1.2-2' }}</span>
            </div>
            <div class="fs-5 fw-bold text-dark">
              <span class="fs-3x fw-bold text-gray-800 me-2 lh-1 ls-n2">${{ orderService.final_total | number: '1.2-2' }}</span>
            </div>
          </div>
        </div>
      </div>

      <!--end::Header-->

      <!--begin::Body-->
      <div class="card-body pt-6">
        <!--begin::Tab content-->
        <div class="tab-content">
          <!--begin::Tab pane-->
          <div class="tab-pane fade active show" id="kt_chart_widget_8_month_tab" role="tabpanel">
            <div class="row mb-5">
              <div class="col-12 mb-5">
                <textarea
                  [(ngModel)]="orderService.order_notes"
                  class="form-control enhanced-textarea"
                  rows="4"
                  placeholder="Add a note..."
                ></textarea>
              </div>
              <div class="col-md-3 col-12">
                <input
                  type="text"
                  name="customer name"
                  (input)="onInputChange(orderService.customer_name)"
                  class="form-control"
                  [(ngModel)]="orderService.customer_name"
                  placeholder="Customer Name"
                />
              </div>
              <div class="col-md-3 col-12">
                <input
                  type="text"
                  name="customer phone"
                  class="form-control"
                  [(ngModel)]="orderService.customer_phone"
                  placeholder="Customer Phone"
                  (input)="onInputChangePhone(orderService.customer_phone)"
                />
              </div>
              <div class="col-md-3 col-12">
                <select
                  id="typeSelect"
                  class="form-select form-select-sm"
                  [(ngModel)]="orderService.orderType"
                  (change)="onTypeChange($event)"
                  required
                >
                  <option value="" disabled selected>Select Order Type</option>
                  <option value="drive-thru">Drive-Thru</option>
                  <option value="dine-in">Dine-In</option>
                  <option value="take-away">Take-Away</option>
                  <option value="delivery">Delivery</option>
                  <option value="curbside-pickup">Curbside Pickup</option>
                  <option value="catering">Catering</option>
                  <option value="reservation">Reservation</option>
                </select>
              </div>
              <div class="col-md-3 col-12">
                <select id="paymentMethod typeSelect" class="int-field form-select form-select-sm" [(ngModel)]="orderService.paymentMethod">
                  <option value="" disabled selected>Select Payment</option>
                  <option *ngFor="let method of orderService.paymentMethods" [value]="method.value">
                    {{ method.label }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="chip-container mt-3">
            <span
              class="chip"
              style="
                cursor: pointer;
                margin-right: 10px;
                margin-bottom: 5px;
                padding: 5px 10px;
                border-radius: 16px;
                display: inline-block;
                white-space: nowrap;
              "
              (click)="makeWalkingCustomer()"
            >
              <span class="chip-content">
                <strong>Walk-in Customer</strong>
                <!-- Name on top -->
                <small>0000000000000</small>
                <!-- Phone number below -->
              </span>
            </span>
            <span
              class="chip"
              *ngFor="let item of filteredSuggestions"
              style="
                cursor: pointer;
                margin-right: 10px;
                margin-bottom: 5px;
                padding: 5px 10px;
                border-radius: 16px;
                display: inline-block;
                white-space: nowrap;
              "
              (click)="orderService.selectSuggestion(item)"
            >
              <span class="chip-content">
                <strong>{{ item.name }}</strong>
                <!-- Name on top -->
                <small>{{ item.phone }}</small>
                <!-- Phone number below -->
              </span>
            </span>
          </div>

          <app-add-order-price-list></app-add-order-price-list>

          <!--end::Statistics-->
        </div>
        <!--end::Tab pane-->
      </div>
      <!--end::Tab content-->
    </div>
    <!--end::Body-->
  </div>
  <!--end::Chart widget 8-->
</div>

<!-- Printable Slip Section -->
<!-- Printable Slip Section -->
<div id="print-section" style="font-family: Arial, sans-serif; font-size: 12px; width: 240px; margin: auto">
  <div class="bill-slip">
    <div class="bill-header" style="text-align: center; border-bottom: 1px dashed #000; padding-bottom: 8px">
      <h2 style="margin: 0; font-size: 16px">{{ restaurant?.name }}</h2>
      <p style="margin: 0">Address : {{ restaurant?.address }}</p>
      <p style="margin: 0">Phone: {{ restaurant?.phone }}</p>
    </div>

    <div class="customer-info" style="padding: 8px 0; border-bottom: 1px dashed #000">
      <p style="margin: 0">
        <strong>Name:</strong>
        {{ orderService?.customer_name }}
      </p>
      <p style="margin: 0">
        <strong>Phone:</strong>
        {{ orderService?.customer_phone }}
      </p>
      <p style="margin: 0">
        <strong>Order Type:</strong>
        {{ orderService?.orderType }}
      </p>
    </div>

    <div class="order-details" style="padding: 8px 0; border-bottom: 1px dashed #000">
      <p style="margin: 0"><strong>Order Details:</strong></p>
      <table style="width: 100%; font-size: 12px; border-collapse: collapse">
        <thead>
          <tr>
            <th>#</th>
            <th>Item</th>
            <th>Price</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of orderService.selected_products; let i = index">
            <td>{{ i + 1 }}</td>
            <td>
              {{ item?.name }} x {{ item?.quantity }}
              <br />
              <small *ngFor="let variation of item.variation">
                <span *ngFor="let option of variation.options" [hidden]="!(option.selected == true)">
                  {{ option?.selected }} {{ option?.name }} ({{ option.price | currency }})
                  <br />
                </span>
              </small>
            </td>
            <td>{{ item.price | currency }}</td>
            <!-- <td>
              <small *ngFor="let variation of item.variation">
                <span *ngIf="variation.selected">
                  <span *ngFor="let option of variation.options">
                    {{ option.price | currency }}
                  </span>
                </span>
              </small>
            </td> -->
            <td>{{ item.quantity * item.price | currency }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="bill-footer" style="padding: 8px 0; text-align: center">
      <p style="margin: 0; font-size: 14px">
        <strong>Total:</strong>
        {{ orderService.totalCost | currency }}
      </p>
      <p style="margin: 0; font-style: italic">Thank you for your order!</p>
    </div>
  </div>
</div>
