<div class="table-responsive">

  <table class="table align-middle fs-6 gy-5 no-footer">

    <thead>
      <tr class="text-start fw-bold fs-7 text-uppercase gs-0">

        <th class="" tabindex="0"  rowspan="1" colspan="1"
          aria-label="Product: activate to sort column ascending" style="width: 276.281px;">Product</th>
        <th class="text-end min-w-100px sorting" tabindex="0"  rowspan="1"
          colspan="1" aria-label="SKU: activate to sort column ascending" style="width: 139.906px;">SKU</th>
        <th class="text-end min-w-70px sorting" tabindex="0"  rowspan="1"
          colspan="1" aria-label="Qty: activate to sort column ascending" style="width: 126.281px;">Qty</th>
        <th class="text-end min-w-100px sorting" tabindex="0"  rowspan="1"
          colspan="1" aria-label="Price: activate to sort column ascending" style="width: 139.906px;">Price</th>
        <th class="text-end min-w-100px sorting" tabindex="0"  rowspan="1"
          colspan="1" aria-label="Rating: activate to sort column ascending" style="width: 139.906px;">Rating</th>
        <th class="text-end min-w-100px sorting" tabindex="0"  rowspan="1"
          colspan="1" aria-label="Status: activate to sort column ascending" style="width: 139.906px;">Status</th>
        <th class="text-end min-w-70px sorting_disabled" rowspan="1" colspan="1" aria-label="Actions"
          style="width: 134.672px;">Actions</th>
      </tr>
    </thead>

  </table>

</div>
