<app-kt-list-page
  [title]="isDeleted ? 'Deleted Order listing & filters' : ' Order listing & filters'"
  [titleHighlightPart]="orderTitleHighlightPart"
  [addurl]="'/pages/orders/add'"
  (onFilter)="toggleFilters()"
  [showDeleteAll]="showDeleteAllButton"
  (onDeleteAll)="onDeleteAll($event)"
  (resetFilter)="resetFilters()"
  [canCreate]="!isDeleted"
>
  <form class="mt-3" [formGroup]="form">
    <app-kt-app-toolbar
      [title]="isDeleted ? 'Deleted Order listing & filters' : ' Order listing & filters'"
      [titleHighlightPart]="orderTitleHighlightPart"
      [addurl]="'/pages/orders/add'"
      (onFilter)="toggleFilters()"
      [showDeleteAll]="showDeleteAllButton"
      (onDeleteAll)="onDeleteAll($event)"
      (resetFilter)="resetFilters()"
      [canCreate]="!isDeleted"
    ></app-kt-app-toolbar>
    <formly-form
      [form]="form"
      [fields]="fields"
      [model]="model"
      (modelChange)="debouncedSubmitFilters($event)"
      *ngIf="crudService.filters"
    ></formly-form>
  </form>

  <hr *ngIf="crudService.filters" />

  <app-kt-app-list-page-table
    [columns]="columns"
    [currentPage]="crudService.page"
    [totalPages]="crudService.lastPage"
    (pageChange)="changePage($event)"
    (pageSize)="changePageSize($event)"
    [selectAll]="selectAll"
    (changeSelectAll)="changeSelectAll($event); showDeleteAllButton = $event"
  >
    <!-- Show "No results found" when not loading and list is empty -->
    <tr *ngIf="!crudService.loading && crudService.list.length === 0">
      <td colspan="5" class="text-center">No results found.</td>
    </tr>
    <div style="display: none"><app-list-order-printslip [item]="selectedItem" #printSlipComponent></app-list-order-printslip></div>

    <!-- Hide rows when loading -->
    <tr [hidden]="!(!crudService.loading && crudService.list.length > 0)" *ngFor="let item of crudService.list; let i = index">
      <!-- Order Id -->
      <td>
        <div class="d-flex">
          <div class="ms-4">
            <a (click)="openDetails(i)" class="fs-7 fw-bold text-hover-primary fs-5 fw-bold mb-1">
              {{ item?.order_number }}
            </a>
          </div>
        </div>
      </td>

      <!-- Customer -->
      <td>
        <div class="d-flex flex-column">
          <span class="fs-7 fw-bold text-hover-primary mb-0">{{ item?.customer }}</span>
          <span class="fs-8 text-muted">{{ item?.customer_phone }}</span>
        </div>
      </td>

      <!-- Status -->
      <td>
        <app-list-order-item-status [item]="item"></app-list-order-item-status>
      </td>

      <!-- Type -->
      <td>
        <div class="d-flex">
          <div class="badge-order-type" [ngClass]="item?.order_type">
            {{ item?.order_type | titlecase }}
          </div>
        </div>
      </td>
      <!-- Payment Methods -->
      <td>
        <div class="d-flex">
          <div class="badge" [ngClass]="item?.payment_method">
            {{ item?.payment_method | titlecase }}
          </div>
        </div>
      </td>

      <!-- Source -->
      <td>
        <div class="d-flex">
          <div class="badge-order-source" [ngClass]="item?.source">
            {{ item?.source | titlecase }}
          </div>
        </div>
      </td>
      <!-- Paid -->
      <td>
        <app-list-order-payment-status [item]="item"></app-list-order-payment-status>
      </td>
      <!-- Subtotal -->
      <td>
        <span class="fw-bold" style="font-size: 15px; white-space: nowrap">
          {{ currencySymbol }}{{ item.total_price | appNumber | async }}
        </span>
      </td>

      <!-- Tax -->
      <td>
        <span *ngIf="item?.tax_amount" class="fw-bold" style="font-size: 15px; white-space: nowrap">
          {{ currencySymbol }}{{ item.tax_amount | appNumber | async }}
        </span>
        <span *ngIf="!item?.tax_amount" class="fw-bold" style="font-size: 15px; white-space: nowrap">{{ currencySymbol }}0.00</span>
      </td>

      <!-- Discount -->
      <td>
        <span class="badge badge-preparing fw-bold" style="font-size: 15px; white-space: nowrap">
          {{ currencySymbol }}{{ item.discount_value | appNumber | async }}
        </span>
      </td>

      <!-- Tips -->
      <td>
        <span *ngIf="item?.tips" class="badge badge-ready-for-pickup fw-bold" style="font-size: 15px; white-space: nowrap">
          {{ currencySymbol }}{{ item.tips | appNumber | async }}
        </span>
        <span *ngIf="!item?.tips" class="badge badge-ready-for-pickup fw-bold" style="font-size: 15px; white-space: nowrap">
          {{ currencySymbol }}0.00
        </span>
      </td>

      <!-- Total -->
      <td>
        <span class="fw-bold" style="font-size: 15px; white-space: nowrap">
          {{ currencySymbol }}{{ item?.final_total | appNumber | async }}
        </span>
      </td>

      <!-- Created -->
      <td>
        <div class="d-flex">
          <div class="ms-4">
            <span class="fs-7 fw-bold text-gray-800">
              {{ item?.created_at | date: 'dd/MM/yyyy HH:mm:ss' }}
            </span>
          </div>
        </div>
      </td>

      <!-- Updated -->
      <td>
        <div class="d-flex">
          <div class="ms-4">
            <span class="fs-7 fw-bold text-gray-800">
              {{ item?.updated_at | date: 'dd/MM/yyyy HH:mm:ss' }}
            </span>
          </div>
        </div>
      </td>
      <!-- Deleted -->
      <td *ngIf="item?.deleted_at">
        <div class="d-flex">
          <div class="ms-4">
            <span class="fs-7 fw-bold text-gray-800">
              {{ item?.deleted_at | date: 'dd/MM/yyyy HH:mm:ss' }}
            </span>
          </div>
        </div>
      </td>

      <!-- Actions -->
      <td class="text-start">
        <div class="d-flex flex-row justify-content-start align-items-center gap-3">
          <i class="ti ti-eye view-icon" style="font-size: 20px; cursor: pointer" *ngIf="canView" (click)="openDetails(i)"></i>
          <i
            class="ti ti-history-toggle history-icon"
            style="font-size: 20px; cursor: pointer"
            *ngIf="canView"
            (click)="goToHistory(i)"
          ></i>
          <i class="ti ti-printer-off manual-print" style="font-size: 20px; cursor: pointer" (click)="triggerManualPrint(item)"></i>
          <i class="ti ti-printer printericon" style="font-size: 20px; cursor: pointer" (click)="triggerPrint(item)"></i>
          <i
            class="edit-icon ti ti-edit"
            style="font-size: 24px; cursor: pointer"
            *ngIf="canEdit && !isDeleted"
            (click)="openEditDetails(i)"
          ></i>
          <i
            *ngIf="canDelete && !isDeleted"
            class="ti ti-trash trash-icon"
            style="font-size: 20px; cursor: pointer"
            (click)="deleteRow(i)"
          ></i>
          <i class="ti ti-dots-vertical" (click)="ProductModal(item)"></i>
        </div>
      </td>

      <!-- Checkbox -->
      <td>
        <div class="form-check form-check-sm form-check-custom form-check-solid">
          <input
            class="form-check-input"
            type="checkbox"
            [value]="item.selected"
            [checked]="item.selected"
            (change)="checkboxUpdate(i, $event)"
          />
        </div>
      </td>
    </tr>

    <tr *ngIf="crudService.loading">
      <!-- Order Id -->
      <td>
        <div class="d-flex align-items-center">
          <div class="ms-5">
            <ngx-skeleton-loader
              appearance="custom-content"
              [theme]="{ width: '120px', height: '20px', background: 'rgba(0,0,0,0.2)' }"
              [animation]="true"
            ></ngx-skeleton-loader>
          </div>
        </div>
      </td>

      <!-- Customer -->
      <td>
        <div class="d-flex flex-column">
          <ngx-skeleton-loader
            appearance="custom-content"
            [theme]="{ width: '100px', height: '16px', background: 'rgba(0,0,0,0.2)' }"
            [animation]="true"
          ></ngx-skeleton-loader>
          <ngx-skeleton-loader
            appearance="custom-content"
            [theme]="{ width: '80px', height: '14px', background: 'rgba(0,0,0,0.2)' }"
            [animation]="true"
          ></ngx-skeleton-loader>
        </div>
      </td>

      <!-- Type -->
      <td>
        <div class="d-flex align-items-center">
          <ngx-skeleton-loader
            appearance="custom-content"
            [theme]="{ width: '80px', height: '20px', background: 'rgba(0,0,0,0.2)' }"
            [animation]="true"
          ></ngx-skeleton-loader>
        </div>
      </td>

      <!-- Source -->
      <td>
        <div class="d-flex align-items-center">
          <ngx-skeleton-loader
            appearance="custom-content"
            [theme]="{ width: '80px', height: '20px', background: 'rgba(0,0,0,0.2)' }"
            [animation]="true"
          ></ngx-skeleton-loader>
        </div>
      </td>

      <!-- Subtotal -->
      <td>
        <div class="d-flex align-items-center">
          <ngx-skeleton-loader
            appearance="custom-content"
            [theme]="{ width: '60px', height: '20px', background: 'rgba(0,0,0,0.2)' }"
            [animation]="true"
          ></ngx-skeleton-loader>
        </div>
      </td>

      <!-- Tax -->
      <td>
        <div class="d-flex align-items-center">
          <ngx-skeleton-loader
            appearance="custom-content"
            [theme]="{ width: '60px', height: '20px', background: 'rgba(0,0,0,0.2)' }"
            [animation]="true"
          ></ngx-skeleton-loader>
        </div>
      </td>

      <!-- Discount -->
      <td>
        <div class="d-flex align-items-center">
          <ngx-skeleton-loader
            appearance="custom-content"
            [theme]="{ width: '60px', height: '20px', background: 'rgba(0,0,0,0.2)' }"
            [animation]="true"
          ></ngx-skeleton-loader>
        </div>
      </td>

      <!-- Tip -->
      <td>
        <div class="d-flex align-items-center">
          <ngx-skeleton-loader
            appearance="custom-content"
            [theme]="{ width: '60px', height: '20px', background: 'rgba(0,0,0,0.2)' }"
            [animation]="true"
          ></ngx-skeleton-loader>
        </div>
      </td>

      <!-- Total -->
      <td>
        <div class="d-flex align-items-center">
          <ngx-skeleton-loader
            appearance="custom-content"
            [theme]="{ width: '60px', height: '20px', background: 'rgba(0,0,0,0.2)' }"
            [animation]="true"
          ></ngx-skeleton-loader>
        </div>
      </td>

      <!-- Paid -->
      <td>
        <div class="d-flex align-items-center">
          <ngx-skeleton-loader
            appearance="custom-content"
            [theme]="{ width: '60px', height: '20px', background: 'rgba(0,0,0,0.2)' }"
            [animation]="true"
          ></ngx-skeleton-loader>
        </div>
      </td>

      <!-- Status -->
      <td>
        <ngx-skeleton-loader
          appearance="custom-content"
          [theme]="{ width: '100px', height: '20px', 'border-radius': '12px', background: 'rgba(0,0,0,0.2)' }"
        ></ngx-skeleton-loader>
      </td>

      <!-- Created -->
      <td>
        <div class="d-flex align-items-center">
          <ngx-skeleton-loader
            appearance="custom-content"
            [theme]="{ width: '80px', height: '20px', background: 'rgba(0,0,0,0.2)' }"
            [animation]="true"
          ></ngx-skeleton-loader>
        </div>
      </td>

      <!-- Updated -->
      <td>
        <div class="d-flex align-items-center">
          <ngx-skeleton-loader
            appearance="custom-content"
            [theme]="{ width: '80px', height: '20px', background: 'rgba(0,0,0,0.2)' }"
            [animation]="true"
          ></ngx-skeleton-loader>
        </div>
      </td>
      <!-- Deleted at -->
      <td *ngIf="isDeleted">
        <div class="d-flex align-items-center">
          <ngx-skeleton-loader
            appearance="custom-content"
            [theme]="{ width: '80px', height: '20px', background: 'rgba(0,0,0,0.2)' }"
            [animation]="true"
          ></ngx-skeleton-loader>
        </div>
      </td>

      <!-- Action -->
      <td class="text-end">
        <div class="d-flex flex-row justify-content-start align-items-center gap-3">
          <ngx-skeleton-loader
            *ngFor="let _ of [1, 2, 3]"
            appearance="custom-content"
            [theme]="{ width: '24px', height: '24px', background: 'rgba(0,0,0,0.2)' }"
          ></ngx-skeleton-loader>
        </div>
      </td>

      <!-- Checkbox -->
      <td>
        <div class="form-check form-check-sm form-check-custom form-check-solid">
          <input class="form-check-input" type="checkbox" disabled />
        </div>
      </td>
    </tr>
  </app-kt-app-list-page-table>
</app-kt-list-page>

<div>
  <!-- Add the history sidebar component at the end of the file -->
  <app-order-history
    id="historySidebar"
    [isOpen]="isHistorySidebarOpen"
    [item]="historyItem"
    (onClose)="closeHistorySidebar()"
  ></app-order-history>
</div>
