.badge-pending {
  background-color: #ffecb3;
  color: #ff9800;
}

.badge-out-for-delivery {
  background-color: #bbdefb;
  color: #1976d2;
}

.badge-delivered {
  background-color: #c8e6c9;
  color: #388e3c;
}

.badge-preparing {
  background-color: #ffe0b2;
  color: #f57c00;
}

.badge-canceled {
  background-color: #ffe0b2;
  color:red;
}
