<!--begin::Role-->
<div class="card card-flush py-4">
  <!--begin::Card header-->
  <div class="card-header">
    <!--begin::Card title-->
    <div class="card-title">
      <h2>Restaurant</h2>
    </div>
    <!--end::Card title-->
    <!--begin::Card toolbar-->
    <div class="card-toolbar">

    </div>
    <!--begin::Card toolbar-->
  </div>
  <!--end::Card header-->
  <!--begin::Card body-->
  <div class="card-body pt-0">
    <!--begin::Select2-->
    <select class="form-select mb-2" placeholder="Select an option"  >
      <option value="" disabled>Select an option</option>
      <option [value]="2">Admin</option>
      <option [value]="2">Admin</option>
      <option [value]="3">Manager</option>
      <option [value]="4">Staff</option>
      <option [value]="5">Chef</option>
    </select>
    <!--end::Select2-->
    <!--begin::Description-->
    <div class="text-muted fs-7">Set the current role.</div>
    <!--end::Description-->
  </div>
  <!--end::Card body-->
</div>
<!--end::ROle-->
