<app-kt-list-page [title]="'Categories'" [addurl]="'/pages/categories/add'" (onFilter)="toggleFilters()">
  <form [formGroup]="form" *ngIf="crudService.filters" (ngSubmit)="submitFilters(model)">
    <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
    <button type="submit" class="btn btn-secondary mt-4">search</button>
  </form>

  <hr *ngIf="crudService.filters" />

  <app-kt-app-list-page-table
    [columns]="columns"
    [currentPage]="crudService.page"
    [totalPages]="crudService.lastPage"
    (pageChange)="changePage($event)"
    [selectAll]="selectAll"
    (changeSelectAll)="changeSelectAll($event)"
    (actionDeleteAll)="deleteAll($event)"
  >
    <tr *ngFor="let item of crudService.list; let i = index">
      <td>
        <div class="d-flex align-items-center">
          <!--begin::Thumbnail-->
          <a href="#" class="symbol symbol-50px">
            <!-- Use ngStyle to bind background-image dynamically -->
            <span class="symbol-label" [ngStyle]="{ 'background-image': 'url(' + item.image + ')' }"></span>
          </a>
          <!--end::Thumbnail-->
          <div class="ms-5">
            <!--begin::Title-->
            <a
              (click)="openDetails(i)"
              class="text-gray-800 text-hover-primary fs-5 fw-bold"
              data-kt-ecommerce-product-filter="product_name"
            >
              {{ item.name }}
            </a>
            <div class=" fs-7 fw-bold">{{ item.description }}</div>

            <!--end::Title-->
          </div>
        </div>
      </td>

      <td>
        <div class="d-flex">
          <div class=" fs-7 fw-bold">{{ item.category ? item.category.name : '' }}</div>
        </div>
      </td>
      <td>
        <div class="d-flex">
          <button class="btn btn-secondary btn-sm fw-bold fs-11 me-auto" (click)="viewMenu(item)">View Menu</button>
        </div>
      </td>
      <td>
        <div class="d-flex">
          <div class="badge badge-light-primary fw-bold me-auto px-4 py-3">{{ item.status }}</div>
        </div>
      </td>

      <!-- <ng-content></ng-content> -->
      <!--begin::Action=-->
      <td class="text-end">
        <div class="d-flex flex-row justify-content-end align-items-center gap-3">
          <i class="ti ti-eye" style="font-size: 24px; cursor: pointer" (click)="openDetails(i)"></i>
          <i *ngIf="showEdit" class="ti ti-edit" style="font-size: 24px; cursor: pointer" (click)="openEditDetails(i)"></i>
          <i *ngIf="showEdit" class="ti ti-trash" style="font-size: 24px; cursor: pointer" (click)="deleteRow(i)"></i>
        </div>
      </td>
      <!--end::Action=-->
      <!--begin::Checkbox-->
      <td>
        <div class="form-check form-check-sm form-check-custom form-check-solid">
          <input
            class="form-check-input"
            type="checkbox"
            [value]="item.selected"
            [checked]="item.selected"
            (change)="checkboxUpdate(i, $event)"
          />
        </div>
      </td>
      <!--end::Checkbox-->
      <!--end::Table row-->
    </tr>
    <tr *ngIf="crudService.loading">
      <!-- Thumbnail Column -->
      <td>
        <div class="d-flex align-items-center">
          <!-- Thumbnail Loader -->
          <ngx-skeleton-loader
            appearance="custom-content"
            [theme]="{ width: '50px', height: '50px', background: 'rgba(0,0,0,0.2)' }"
            [animation]="true"
          >
            <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
              <i class="ti ti-align-center" style="font-size: 24px"></i>
            </div>
          </ngx-skeleton-loader>
          <div class="ms-5">
            <!-- Title Loader -->
            <ngx-skeleton-loader
              appearance="custom-content"
              [theme]="{ width: '150px', height: '20px', background: 'rgba(0,0,0,0.2)' }"
              [animation]="true"
            ></ngx-skeleton-loader>
          </div>
        </div>
      </td>

      <!-- Address Column -->
      <td>
        <div class="d-flex align-items-center">
          <ngx-skeleton-loader
            appearance="custom-content"
            [theme]="{ width: '120px', height: '20px',background: 'rgba(0,0,0,0.2)' }"
            [animation]="true"
          ></ngx-skeleton-loader>
        </div>
      </td>

      <!-- Status Column -->
      <td>
        <ngx-skeleton-loader
          appearance="custom-content"
          [theme]="{ width: '100px', height: '20px', 'border-radius': '12px',background: 'rgba(0,0,0,0.2)' }"
        ></ngx-skeleton-loader>
      </td>
      <td>
        <ngx-skeleton-loader
          appearance="custom-content"
          [theme]="{ width: '100px', height: '20px', 'border-radius': '12px',background: 'rgba(0,0,0,0.2)' }"
        ></ngx-skeleton-loader>
      </td>

      <!-- Action Icons -->
      <td class="text-end">
        <div class="d-flex flex-row justify-content-end align-items-center gap-3">
          <ngx-skeleton-loader
            *ngFor="let _ of [1, 2, 3, 4]"
            appearance="custom-content"
            [theme]="{ width: '24px', height: '24px' ,background: 'rgba(0,0,0,0.2)'}"
          ></ngx-skeleton-loader>
        </div>
      </td>

      <!-- Checkbox Column -->
      <td>
        <div class="form-check form-check-sm form-check-custom form-check-solid">
          <input class="form-check-input" type="checkbox" />
        </div>
      </td>
    </tr>
  </app-kt-app-list-page-table>
</app-kt-list-page>
