<!-- <app-kt-list-detail-page [title]="'Products'">
  <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
    <div class="card-body">
      <div class="col-xl-3">
        <div class="fs-6 fw-semibold mt-2 mb-3">Product Photo</div>
      </div>
      <div class="col-lg-8" style="margin-bottom:50px">
        <div *ngIf="item?.image" class="image-input image-input-outline" data-kt-image-input="true">
          <div
            class="image-input-wrapper w-125px h-125px bgi-position-center"
            [ngStyle]="{ 'background-image': 'url(' + item.image + ')' }"
          ></div>
        </div>
 </div>
      <div class="row mb-7">
        <label class="col-lg-4 fw-semibold text-muted">Product Name</label>
        <div class="col-lg-8">
          <span class="fw-bold fs-6 text-gray-800">{{ item?.name }}</span>
        </div>
      </div>
      <div class="row mb-7">
        <label class="col-lg-4 fw-semibold text-muted">Description</label>
        <div class="col-lg-8">
          <span class="fw-bold fs-6 text-gray-800">{{ item?.description }}</span>
        </div>
      </div>
      <div class="row mb-7">
        <label class="col-lg-4 fw-semibold text-muted">Identifier</label>
        <div class="col-lg-8">
          <span class="fw-bold fs-6 text-gray-800">{{ item?.identifier }}</span>
        </div>
      </div>
      <div class="row mb-7">
        <label class="col-lg-4 fw-semibold text-muted">Price</label>
        <div class="col-lg-8">
          <span class="fw-semibold text-gray-800 fs-6">{{ item?.price }}</span>
        </div>
      </div>
      <div class="row mb-7">
        <label class="col-lg-4 fw-semibold text-muted">Discount</label>
        <div class="col-lg-8">
          <span class="fw-semibold text-gray-800 fs-6">{{ item?.discount }}</span>
        </div>
      </div>
      <div class="row mb-7">
        <label class="col-lg-4 fw-semibold text-muted">Status</label>
        <div class="col-lg-8">
          <span class="fw-bold fs-6 text-gray-800 me-2">{{ item?.status }}</span>
        </div>
      </div>
      <div class="row mb-7">
        <label class="col-lg-4 fw-semibold text-muted">Restaurant Name</label>
        <div class="col-lg-8">
          <span class="fw-bold fs-6 text-gray-800">{{ item?.restaurant?.name }}</span>
        </div>
      </div>
      <div class="row mb-7">
        <label class="col-lg-4 fw-semibold text-muted">Restaurant Address</label>
        <div class="col-lg-8">
          <span class="fw-bold fs-6 text-gray-800">{{ item?.restaurant?.address }}</span>
        </div>
      </div>
      <div class="row mb-7">
        <label class="col-lg-4 fw-semibold text-muted">Restaurant Website</label>
        <div class="col-lg-8">
          <a [href]="item?.restaurant?.website" class="fw-bold fs-6 text-gray-800 text-hover-primary">
            {{ item?.restaurant?.website }}
          </a>
        </div>
      </div>
    </div>
  </div>
</app-kt-list-detail-page> -->

<div class="main-panel">
  <!-- BEGIN : Main Content-->
  <div class="main-content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
      <section class="users-view">
        <!-- Media object starts -->
        <div class="row">
          <div class="col-12 col-sm-7">
            <div class="media d-flex">
              <a href="javascript:;">
                <img [src]="item?.image" alt="user view avatar" class="users-avatar-shadow rounded" height="64" width="64" />
              </a>
              <div class="media-body ml-3">
                <h4>
                  <span class="users-view-name">{{ item?.name }}</span>
                </h4>
                <span>ID:</span>
                <span class="users-view-id">{{ itemId }}</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Media object ends -->

        <div class="row">
          <div class="col-12">
            <!-- Card data starts -->
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <div class="row">
                    <div class="col-4 col-xl-4">
                      <table class="table table-borderless">
                        <tbody>
                          <tr>
                            <td style="padding: 0.5rem 0 !important">Description:</td>
                            <td style="padding: 0.5rem 0 !important">{{ item?.description }}</td>
                          </tr>
                          <tr>
                            <td style="padding: 0.5rem 0 !important">Identifier</td>
                            <td style="padding: 0.5rem 0 !important">{{ item?.identifier }}</td>
                          </tr>
                          <tr>
                            <td style="padding: 0.5rem 0 !important">Price:</td>
                            <td style="padding: 0.5rem 0 !important">{{ item?.price | appNumber | async }}</td>
                          </tr>
                          <tr>
                            <td style="padding: 0.5rem 0 !important">Discount:</td>
                            <td style="padding: 0.5rem 0 !important">{{ item?.discount  | appNumber | async}}</td>
                          </tr>
                          <tr>
                            <td style="padding: 0.5rem 0 !important">Restaurant <br> Name:</td>
                            <td style="padding: 0.5rem 0 !important">{{ item?.restaurant?.name }}</td>
                          </tr>
                          <tr>
                            <td style="padding: 0.5rem 0 !important">Restaurant <br> Address</td>
                            <td style="padding: 0.5rem 0 !important">{{ item?.restaurant?.address }}</td>
                          </tr>
                          <tr>
                            <td style="padding: 0.5rem 0 !important">Restaurant <br>Website</td>
                            <td style="padding: 0.5rem 0 !important">{{ item?.restaurant?.website }}</td>
                          </tr>
                          <tr>
                            <td style="padding: 0.5rem 0 !important">Status:</td>
                            <td style="padding: 0.5rem 0 !important">
                              <span
                                class="badge fw-bold me-auto"
                                [ngClass]="{
                                  'badge-active': item.status === 'Active',
                                  'badge-inactive': item.status === 'Inactive'
                                }"
                              >
                                {{ item?.status }}
                              </span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
