.badge-active {
  background-color: #c8e6fa; /* Light blue background */
  color: #0277bd; /* Deep blue text */
}

.badge-inactive {
  background-color: #a72121; /* Gray for inactive status */
  color: white;
}
