<div class="card ">
    <!--begin::Header-->
    <div class="card-header align-items-center border-0">
      <!--begin::Title-->
      <h3 class="fw-bold text-gray-900 m-0">Recent Orders</h3>
      <!--end::Title-->
      <!--begin::Menu-->

      <!--end::Menu-->
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body pt-2">
           <!--begin::Tab Content-->
      <div class="tab-content">
        <!--begin::Tap pane-->
        <div class="tab-pane fade show active" id="kt_stats_widget_2_tab_1">
          <!--begin::Table container-->
          <div class="table-responsive">
            <!--begin::Table-->
            <table class="table table-row-dashed align-middle gs-0 gy-4 my-0">
              <thead>
                <tr class="fs-7 fw-bold text-gray-500 border-bottom-0">
                  <th class="ps-0">Order ID</th>
                  <th class="text-end">Customer Name</th>
                  <th class="pe-0 text-end">Phone Number</th>
                  <th class="pe-0 text-end">Total Price</th>
                  <th class="pe-0 text-end">Table Number</th>
                  <th class="pe-0 text-end">Customer Type</th>
                  <th class="pe-0 text-end">Order Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let customer of customers; let i = index">
                  <td class="ps-0">
                    <a href="#" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6 text-start pe-0">
                      {{ 'ORD-2024-000' + i }}
                    </a>
                  </td>
                  <td>
                    <span class="text-gray-800 fw-bold d-block fs-6 ps-0 text-end">
                      {{ customer.name }}
                    </span>
                  </td>
                  <td class="text-end pe-0">
                    <span class="text-gray-800 fw-bold d-block fs-6">
                      {{ customer.phone }}
                    </span>
                  </td>
                  <td class="text-end pe-0">
                    <span class="text-gray-800 fw-bold d-block fs-6">
                      ${{ customer.amount | number: '1.2-2' }}
                    </span>
                  </td>
                  <td class="text-end pe-0">
                    <span class="text-gray-800 fw-bold d-block fs-6">
                      {{ customer.table }}
                    </span>
                  </td>
                  <td class="text-end pe-0">
                    <span class="text-gray-800 fw-bold d-block fs-6">
                      {{ customer.type }}
                    </span>
                  </td>
                  <td class="text-end pe-0">
                    <span class="text-gray-800 fw-bold d-block fs-6">
                      {{ customer.status }}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
              <!--end::Table-->
          </div>
          <!--end::Table container-->
        </div>
        <!--end::Tap pane-->
        <!--begin::Tap pane-->
        <div class="tab-pane fade" id="kt_stats_widget_2_tab_2">
          <!--begin::Table container-->
          <div class="table-responsive">
            <!--begin::Table-->
            <table class="table table-row-dashed align-middle gs-0 gy-4 my-0">
              <!--begin::Table head-->
              <thead>
                <tr class="fs-7 fw-bold text-gray-500 border-bottom-0">
                  <th class="ps-0 w-50px">ITEM</th>
                  <th class="min-w-140px"></th>
                  <th class="text-end min-w-140px">QTY</th>
                  <th class="pe-0 text-end min-w-120px">PRICE</th>
                  <th class="pe-0 text-end min-w-120px">TOTAL PRICE</th>
                </tr>
              </thead>
              <!--end::Table head-->
              <!--begin::Table body-->
              <tbody>
                <tr>
                  <td>
                    <img src="assets/media/stock/ecommerce/197.gif" class="w-50px ms-n1" alt="" />
                  </td>
                  <td class="ps-0">
                    <a href="../../demo1/dist/apps/ecommerce/catalog/edit-product.html" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6 text-start pe-0">Elephant 1802</a>
                    <span class="text-gray-400 fw-semibold fs-7 d-block text-start ps-0">Item: #XDG-4312</span>
                  </td>
                  <td>
                    <span class="text-gray-800 fw-bold d-block fs-6 ps-0 text-end">x1</span>
                  </td>
                  <td class="text-end pe-0">
                    <span class="text-gray-800 fw-bold d-block fs-6">$32.00</span>
                  </td>
                  <td class="text-end pe-0">
                    <span class="text-gray-800 fw-bold d-block fs-6">$312.00</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src="assets/media/stock/ecommerce/178.gif" class="w-50px ms-n1" alt="" />
                  </td>
                  <td class="ps-0">
                    <a href="../../demo1/dist/apps/ecommerce/catalog/edit-product.html" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6 text-start pe-0">Red Laga</a>
                    <span class="text-gray-400 fw-semibold fs-7 d-block text-start ps-0">Item: #XDG-3122</span>
                  </td>
                  <td>
                    <span class="text-gray-800 fw-bold d-block fs-6 ps-0 text-end">x2</span>
                  </td>
                  <td class="text-end pe-0">
                    <span class="text-gray-800 fw-bold d-block fs-6">$53.00</span>
                  </td>
                  <td class="text-end pe-0">
                    <span class="text-gray-800 fw-bold d-block fs-6">$62.00</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src="assets/media/stock/ecommerce/22.gif" class="w-50px ms-n1" alt="" />
                  </td>
                  <td class="ps-0">
                    <a href="../../demo1/dist/apps/ecommerce/catalog/edit-product.html" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6 text-start pe-0">RiseUP</a>
                    <span class="text-gray-400 fw-semibold fs-7 d-block text-start ps-0">Item: #XDG-1142</span>
                  </td>
                  <td>
                    <span class="text-gray-800 fw-bold d-block fs-6 ps-0 text-end">x3</span>
                  </td>
                  <td class="text-end pe-0">
                    <span class="text-gray-800 fw-bold d-block fs-6">$74.00</span>
                  </td>
                  <td class="text-end pe-0">
                    <span class="text-gray-800 fw-bold d-block fs-6">$139.00</span>
                  </td>
                </tr>
              </tbody>
              <!--end::Table body-->
            </table>
            <!--end::Table-->
          </div>
          <!--end::Table container-->
        </div>
        <!--end::Tap pane-->
        <!--begin::Tap pane-->
        <div class="tab-pane fade" id="kt_stats_widget_2_tab_3">
          <!--begin::Table container-->
          <div class="table-responsive">
            <!--begin::Table-->
            <table class="table table-row-dashed align-middle gs-0 gy-4 my-0">
              <!--begin::Table head-->
              <thead>
                <tr class="fs-7 fw-bold text-gray-500 border-bottom-0">
                  <th class="ps-0 w-50px">ITEM</th>
                  <th class="min-w-140px"></th>
                  <th class="text-end min-w-140px">QTY</th>
                  <th class="pe-0 text-end min-w-120px">PRICE</th>
                  <th class="pe-0 text-end min-w-120px">TOTAL PRICE</th>
                </tr>
              </thead>
              <!--end::Table head-->
              <!--begin::Table body-->
              <tbody>
                <tr>
                  <td>
                    <img src="assets/media/stock/ecommerce/1.gif" class="w-50px ms-n1" alt="" />
                  </td>
                  <td class="ps-0">
                    <a href="../../demo1/dist/apps/ecommerce/catalog/edit-product.html" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6 text-start pe-0">Elephant 1324</a>
                    <span class="text-gray-400 fw-semibold fs-7 d-block text-start ps-0">Item: #XDG-1523</span>
                  </td>
                  <td>
                    <span class="text-gray-800 fw-bold d-block fs-6 ps-0 text-end">x1</span>
                  </td>
                  <td class="text-end pe-0">
                    <span class="text-gray-800 fw-bold d-block fs-6">$43.00</span>
                  </td>
                  <td class="text-end pe-0">
                    <span class="text-gray-800 fw-bold d-block fs-6">$231.00</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src="assets/media/stock/ecommerce/24.gif" class="w-50px ms-n1" alt="" />
                  </td>
                  <td class="ps-0">
                    <a href="../../demo1/dist/apps/ecommerce/catalog/edit-product.html" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6 text-start pe-0">Red Laga</a>
                    <span class="text-gray-400 fw-semibold fs-7 d-block text-start ps-0">Item: #XDG-5314</span>
                  </td>
                  <td>
                    <span class="text-gray-800 fw-bold d-block fs-6 ps-0 text-end">x2</span>
                  </td>
                  <td class="text-end pe-0">
                    <span class="text-gray-800 fw-bold d-block fs-6">$71.00</span>
                  </td>
                  <td class="text-end pe-0">
                    <span class="text-gray-800 fw-bold d-block fs-6">$53.00</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src="assets/media/stock/ecommerce/71.gif" class="w-50px ms-n1" alt="" />
                  </td>
                  <td class="ps-0">
                    <a href="../../demo1/dist/apps/ecommerce/catalog/edit-product.html" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6 text-start pe-0">RiseUP</a>
                    <span class="text-gray-400 fw-semibold fs-7 d-block text-start ps-0">Item: #XDG-4222</span>
                  </td>
                  <td>
                    <span class="text-gray-800 fw-bold d-block fs-6 ps-0 text-end">x3</span>
                  </td>
                  <td class="text-end pe-0">
                    <span class="text-gray-800 fw-bold d-block fs-6">$23.00</span>
                  </td>
                  <td class="text-end pe-0">
                    <span class="text-gray-800 fw-bold d-block fs-6">$213.00</span>
                  </td>
                </tr>
              </tbody>
              <!--end::Table body-->
            </table>
            <!--end::Table-->
          </div>
          <!--end::Table container-->
        </div>
        <!--end::Tap pane-->
        <!--begin::Tap pane-->
        <div class="tab-pane fade" id="kt_stats_widget_2_tab_4">
          <!--begin::Table container-->
          <div class="table-responsive">
            <!--begin::Table-->
            <table class="table table-row-dashed align-middle gs-0 gy-4 my-0">
              <!--begin::Table head-->
              <thead>
                <tr class="fs-7 fw-bold text-gray-500 border-bottom-0">
                  <th class="ps-0 w-50px">ITEM</th>
                  <th class="min-w-140px"></th>
                  <th class="text-end min-w-140px">QTY</th>
                  <th class="pe-0 text-end min-w-120px">PRICE</th>
                  <th class="pe-0 text-end min-w-120px">TOTAL PRICE</th>
                </tr>
              </thead>
              <!--end::Table head-->
              <!--begin::Table body-->
              <tbody>
                <tr>
                  <td>
                    <img src="assets/media/stock/ecommerce/41.gif" class="w-50px ms-n1" alt="" />
                  </td>
                  <td class="ps-0">
                    <a href="../../demo1/dist/apps/ecommerce/catalog/edit-product.html" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6 text-start pe-0">Elephant 2635</a>
                    <span class="text-gray-400 fw-semibold fs-7 d-block text-start ps-0">Item: #XDG-1523</span>
                  </td>
                  <td>
                    <span class="text-gray-800 fw-bold d-block fs-6 ps-0 text-end">x1</span>
                  </td>
                  <td class="text-end pe-0">
                    <span class="text-gray-800 fw-bold d-block fs-6">$65.00</span>
                  </td>
                  <td class="text-end pe-0">
                    <span class="text-gray-800 fw-bold d-block fs-6">$163.00</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src="assets/media/stock/ecommerce/63.gif" class="w-50px ms-n1" alt="" />
                  </td>
                  <td class="ps-0">
                    <a href="../../demo1/dist/apps/ecommerce/catalog/edit-product.html" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6 text-start pe-0">Red Laga</a>
                    <span class="text-gray-400 fw-semibold fs-7 d-block text-start ps-0">Item: #XDG-2745</span>
                  </td>
                  <td>
                    <span class="text-gray-800 fw-bold d-block fs-6 ps-0 text-end">x2</span>
                  </td>
                  <td class="text-end pe-0">
                    <span class="text-gray-800 fw-bold d-block fs-6">$64.00</span>
                  </td>
                  <td class="text-end pe-0">
                    <span class="text-gray-800 fw-bold d-block fs-6">$73.00</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src="assets/media/stock/ecommerce/59.gif" class="w-50px ms-n1" alt="" />
                  </td>
                  <td class="ps-0">
                    <a href="../../demo1/dist/apps/ecommerce/catalog/edit-product.html" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6 text-start pe-0">RiseUP</a>
                    <span class="text-gray-400 fw-semibold fs-7 d-block text-start ps-0">Item: #XDG-5173</span>
                  </td>
                  <td>
                    <span class="text-gray-800 fw-bold d-block fs-6 ps-0 text-end">x3</span>
                  </td>
                  <td class="text-end pe-0">
                    <span class="text-gray-800 fw-bold d-block fs-6">$54.00</span>
                  </td>
                  <td class="text-end pe-0">
                    <span class="text-gray-800 fw-bold d-block fs-6">$173.00</span>
                  </td>
                </tr>
              </tbody>
              <!--end::Table body-->
            </table>
            <!--end::Table-->
          </div>
          <!--end::Table container-->
        </div>
        <!--end::Tap pane-->
        <!--begin::Tap pane-->
        <div class="tab-pane fade" id="kt_stats_widget_2_tab_5">
          <!--begin::Table container-->
          <div class="table-responsive">
            <!--begin::Table-->
            <table class="table table-row-dashed align-middle gs-0 gy-4 my-0">
              <!--begin::Table head-->
              <thead>
                <tr class="fs-7 fw-bold text-gray-500 border-bottom-0">
                  <th class="ps-0 w-50px">ITEM</th>
                  <th class="min-w-140px"></th>
                  <th class="text-end min-w-140px">QTY</th>
                  <th class="pe-0 text-end min-w-120px">PRICE</th>
                  <th class="pe-0 text-end min-w-120px">TOTAL PRICE</th>
                </tr>
              </thead>
              <!--end::Table head-->
              <!--begin::Table body-->
              <tbody>
                <tr>
                  <td>
                    <img src="assets/media/stock/ecommerce/10.gif" class="w-50px ms-n1" alt="" />
                  </td>
                  <td class="ps-0">
                    <a href="../../demo1/dist/apps/ecommerce/catalog/edit-product.html" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6 text-start pe-0">Nike</a>
                    <span class="text-gray-400 fw-semibold fs-7 d-block text-start ps-0">Item: #XDG-2163</span>
                  </td>
                  <td>
                    <span class="text-gray-800 fw-bold d-block fs-6 ps-0 text-end">x1</span>
                  </td>
                  <td class="text-end pe-0">
                    <span class="text-gray-800 fw-bold d-block fs-6">$64.00</span>
                  </td>
                  <td class="text-end pe-0">
                    <span class="text-gray-800 fw-bold d-block fs-6">$287.00</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src="assets/media/stock/ecommerce/96.gif" class="w-50px ms-n1" alt="" />
                  </td>
                  <td class="ps-0">
                    <a href="../../demo1/dist/apps/ecommerce/catalog/edit-product.html" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6 text-start pe-0">Adidas</a>
                    <span class="text-gray-400 fw-semibold fs-7 d-block text-start ps-0">Item: #XDG-2162</span>
                  </td>
                  <td>
                    <span class="text-gray-800 fw-bold d-block fs-6 ps-0 text-end">x2</span>
                  </td>
                  <td class="text-end pe-0">
                    <span class="text-gray-800 fw-bold d-block fs-6">$76.00</span>
                  </td>
                  <td class="text-end pe-0">
                    <span class="text-gray-800 fw-bold d-block fs-6">$51.00</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src="assets/media/stock/ecommerce/13.gif" class="w-50px ms-n1" alt="" />
                  </td>
                  <td class="ps-0">
                    <a href="../../demo1/dist/apps/ecommerce/catalog/edit-product.html" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6 text-start pe-0">Puma</a>
                    <span class="text-gray-400 fw-semibold fs-7 d-block text-start ps-0">Item: #XDG-1537</span>
                  </td>
                  <td>
                    <span class="text-gray-800 fw-bold d-block fs-6 ps-0 text-end">x3</span>
                  </td>
                  <td class="text-end pe-0">
                    <span class="text-gray-800 fw-bold d-block fs-6">$27.00</span>
                  </td>
                  <td class="text-end pe-0">
                    <span class="text-gray-800 fw-bold d-block fs-6">$167.00</span>
                  </td>
                </tr>
              </tbody>
              <!--end::Table body-->
            </table>
            <!--end::Table-->
          </div>

          <!--end::Table container-->
        </div>
        <!--end::Tap pane-->
      </div>
      <!--end::Tab Content-->
    </div>
    <!--end: Card Body-->

  </div>
