<nav
  class="navbar navbar-expand-lg navbar-light header-navbar {{ transparentBGClass }}"
  [ngClass]="{
    'navbar-brand-center': menuPosition === 'Top',
    'navbar-static': menuPosition === 'Side' && config?.layout.navbar.type === 'Static',
    'navbar-sticky': menuPosition === 'Side' && config?.layout.navbar.type === 'Fixed',
    'fixed-top': isSmallScreen && menuPosition === 'Top'
  }"
>
  <div class="container-fluid navbar-wrapper">
    <div class="navbar-row d-flex w-100 align-items-center justify-content-between">
      <!-- Left: menu/search -->
      <div class="navbar-left d-flex align-items-center">
        <div
          class="navbar-toggle menu-toggle d-xl-none d-block float-left align-items-center justify-content-center"
          data-toggle="collapse"
          (click)="toggleSidebar()"
        >
          <i class="ft-menu font-medium-3"></i>
        </div>
        <ul class="navbar-nav" (clickOutside)="toggleSearchOpenClass(false)">
          <li class="nav-item mr-2 d-none d-lg-block">
            <a class="nav-link apptogglefullscreen" id="navbar-fullscreen" href="javascript:;" appToggleFullscreen (click)="ToggleClass()">
              <i class=" {{ toggleClass }} font-medium-3"></i>
            </a>
          </li>
          <li class="nav-item nav-search">
            <a class="nav-link nav-link-search" id="navbar-search" href="javascript:" (click)="toggleSearchOpenClass(true)">
              <i class="ft-search font-medium-3"></i>
            </a>
            <div class="search-input {{ searchOpenClass }}">
              <div class="search-input-icon">
                <i class="ft-search font-medium-3"></i>
              </div>
              <input
                [formControl]="control"
                #search
                class="input"
                type="text"
                placeholder="Explore Apex..."
                tabindex="0"
                autofocus
                data-search="template-search"
                (keyup.enter)="onEnter()"
                (keydown.esc)="onEscEvent()"
                (keyup)="onSearchKey($event)"
              />
              <div class="search-input-close" (click)="toggleSearchOpenClass(false)">
                <i class="ft-x font-medium-3"></i>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- Center: restaurant name -->
      <div class="navbar-center flex-grow-1 d-flex justify-content-center align-items-center">
        <h5 class="mb-0 font-weight-bold navbar-restaurant-name" *ngIf="restaurantName">
          {{ restaurantName }}
        </h5>
      </div>
      <!-- Right: profile, create order, etc. -->
      <div class="navbar-right d-flex align-items-center">
        <div class="navbar-container">
          <div class="collapse navbar-collapse d-block" id="navbarSupportedContent">
            <ul class="navbar-nav flex-row align-items-center">
              <li class="mr-3">
                <div class="d-flex align-items-center gap-3">
                  <div class="card-toolbar mb-0">
                    <a [routerLink]="addurl" class="btn btn-sm fw-bold btn-primary d-flex align-items-center gap-2">
                      <i class="ti ti-plus"></i>
                      Create Order
                    </a>
                  </div>
                </div>
              </li>
              <li class="dropdown nav-item mr-1" placement="bottom-left" display="static" ngbDropdown>
                <a
                  class="nav-link dropdown-toggle user-dropdown d-flex align-items-end"
                  id="dropdownBasic2"
                  href="javascript:;"
                  data-toggle="dropdown"
                  ngbDropdownToggle
                >
                  <div class="user d-md-flex d-none mr-2">
                    <span class="text-right">{{user?.name || ''}}</span>
                    <span class="text-right text-muted font-small-3">{{user?.role?.name}}</span>
                  </div>
                  <img class="avatar" src="assets/img/portrait/small/avatar-s-1.png" alt="avatar" height="35" width="35" />
                </a>
                <div class="dropdown-menu text-left dropdown-menu-right m-0 pb-0" aria-labelledby="dropdownBasic2" ngbDropdownMenu>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" (click)="logout()">
                    <div class="d-flex align-items-center">
                      <i class="ft-power mr-2"></i>
                      <span>Logout</span>
                    </div>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
