<!--begin::Products-->
<div class="row g-2">
  <div class="col-2 px-0 py-1" *ngFor="let product of orderService.products">
    <div class="card h-100 m-1">
      <div class="card-body p-2 d-flex flex-column">
        <!-- Image container with fixed size -->
        <div
          class="product-image-container bg-light mb-2"
          [style.backgroundImage]="'url(' + product.image + ')'"
          style="height: 150px; background-size: cover; background-position: center; background-repeat: no-repeat"
        ></div>

        <!-- Product name with fixed height -->
        <h6 class="card-title text-start mb-2" style="height: 35px">{{ product?.name }}</h6>

        <!-- Price button fixed at bottom -->
        <button class="btn btn-primary w-100 mt-auto" (click)="setSelectedToggle(product)" [disabled]="isProductSelected(product.id)">
          ${{ product?.price | number: '1.2-2' }}
        </button>
      </div>
    </div>
  </div>
</div>
<!--end::Products-->
