.product-card-outer {
  position: relative;
  cursor: pointer;
}

.check-icon-outer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  i {
    font-size: 24px;
    color: purple;
  }
}

.product-card-outer.selected {
  background: rgba(122, 12, 144, 0.1);
}


