<!--begin::Products-->
<div class="product-items-outer  responsive-products">
  <!-- [ngClass]="columnClass" -->
  <div class="single-product-item" *ngFor="let product of orderService.products">
    <div class="">
      <div class="card-body p-1 d-flex flex-column gap-2">
        <div class="product-image-container" [ngStyle]="{ 'background-image': 'url(' + product.image + ')' }">
          <div class="label-5346">
            <i class="ft-layers"></i>
          </div>
        </div>

        <div class="d-flex flex-row justify-content-start align-items-center">
          <p class="card-text text-left m-0 text-truncate" style="max-width: 200px; font-weight: bold" title="{{ product?.name }}">
            {{ product?.name }}
          </p>
        </div>

        <div class="d-flex align-items-center gap-2 mt-2">
          <button 
            class="product-btn d-flex justify-content-center align-items-center"
            [ngClass]="getProductQuantity(product.id) > 0 ? 'faded-btn' : ''"
            (click)="addOrIncrementProduct(product)">
            <span>{{ this.currencySymbol }} {{ product?.price | appNumber | async }}</span>
            <span *ngIf="getProductQuantity(product.id) > 0" 
                  class="ms-2 px-2 py-1 rounded-pill quantity-pill">
              x{{ getProductQuantity(product.id) }}
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end::Products-->
