<!--begin::Products-->
<div class="card card-flush">
  <!--begin::Card header-->
  <div class="card-header align-items-center py-5 gap-2 gap-md-5">
    <!--begin::Card title-->
    <div class="card-title">
      <!--begin::Search-->
      <div class="d-flex align-items-center position-relative my-1">
        <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
        <span class="svg-icon svg-icon-1 position-absolute ms-4">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
            <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
          </svg>
        </span>
        <!--end::Svg Icon-->
        <input type="text" data-kt-ecommerce-product-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Search Product" (keyup)="searchProducts($event)" />
      </div>
      <!--end::Search-->
    </div>
    <!--end::Card title-->
    <!--begin::Card toolbar-->
    <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
      <div class="w-100 mw-150px">
        <!--begin::Select2-->
        <select class="form-select form-select-solid" (change)="selectedChange($event)" >
          <option></option>
          <option *ngFor="let item of orderService.categories"
           [selected]="item['active'] == true"
           [value]="item.id">{{ item.name }}</option>
        </select>
        <!--end::Select2-->
      </div>
      <!--begin::Add product-->
      <!-- <a href="../../demo1/dist/apps/ecommerce/catalog/add-product.html" class="btn btn-primary">Add Product</a> -->
      <!--end::Add product-->
    </div>
    <!--end::Card toolbar-->
  </div>
  <!--end::Card header-->
  <!--begin::Card body-->
  <div class="card-body pt-0" style="height: calc(100vh - 115px); overflow-y: scroll ;">
    <div class="product-items-outer">
      <div class="single-product-item" *ngFor="let product of orderService.products" (click)="setSelectedToggle(product)"
        [ngStyle]="{'background-image' : 'url(' + product.image + ')'}">
        <!--begin::Link-->

          <!-- Product Image -->
          <!-- <div class="category-image-container mb-3">
            <img
              *ngIf="product.image"
              [src]="product.image "
              alt="{{product.name}}"
              style="width: 80px; height: 80px; object-fit: cover;">
          </div> -->
          <!-- Product Name -->
          <div class="label-5346" style="background-color: #d12e2e;">
            <span class="nav-text fw-bold fs-6 lh-1" style="color:#ffffff;">{{ product.name }}</span>
            <br>
            <!-- Product Price -->

          </div>

          <span class="price-tags">${{ product.price }}</span>

          <!-- Product Active Indicator -->
          <span *ngIf="isProductSelected(product.id)" class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-primary"></span>

        <!--end::Link-->
      </div>
    </div>
  </div>
  <!--end::Card body-->
</div>
<!--end::Products-->
