<div class="product-items-outer">
  <div class="single-product-item" *ngFor="let product of orderService.products" (click)="setSelectedToggle(product)"
    [ngStyle]="{'background-image' : 'url(' + product.image + ')'}">
    <!--begin::Link-->

      <!-- Product Image -->
      <!-- <div class="category-image-container mb-3">
        <img
          *ngIf="product.image"
          [src]="product.image "
          alt="{{product.name}}"
          style="width: 80px; height: 80px; object-fit: cover;">
      </div> -->
      <!-- Product Name -->
      <div class="label-5346" style="background-color: #d12e2e;">
        <span class="nav-text fw-bold fs-6 lh-1" style="color:#ffffff;">{{ product.name }}</span>
        <br>
        <!-- Product Price -->

      </div>

      <span class="price-tags">${{ product.price }}</span>

      <!-- Product Active Indicator -->
      <span *ngIf="isProductSelected(product.id)" class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-primary"></span>

    <!--end::Link-->
  </div>
</div>
