<!--begin::Products-->
<div class="row" class="product-items-outer" >
  <!-- [ngClass]="columnClass" -->
  <div class="single-product-item" *ngFor="let product of orderService.products" >
    <div class="card ">
      <div class="card-body p-1 d-flex flex-column gap-2">
        <div class="product-image-container" [ngStyle]="{'background-image' : 'url(' + product.image + ')'}" >
          <div class="label-5346">
            <i class="ft-layers"></i>
          </div>
        </div>
        
        <div class="d-flex flex-row justify-content-start align-items-center">
          <p class="card-text text-left m-0" style="font-weight: bold;">{{ product?.name }}</p>
        </div>
        <button class="btn btn-primary " (click)="setSelectedToggle(product)" [disabled]="isProductSelected(product.id)"> 
          <!-- {{buttonLabel}} -->
          ${{ product?.price | number: '1.2-2' }}
        </button>
      </div>
    </div>

  </div>
  
</div>
<!--end::Products-->
