<div id="kt_app_toolbar" class="app-toolbar py-2 py-lg-2 row">
  <!--begin::Toolbar container-->
  <div id="kt_app_toolbar_container" class="d-flex flex-stack col-12">
    <!--begin::Page title-->
    <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
      <!--begin::Title-->
      <h1 class="content-header d-flex flex-column flex-sm-row align-items-start align-items-sm-center my-0">
        <span class="me-0 me-sm-2">{{ title }}</span>
        <span class="title-highlight-part" style="color: red; font-size: 0.9rem; word-wrap: break-word; max-width: 100%;">{{ titleHighlightPart }}</span>
      </h1>
      <!--end::Title-->
      <app-kt-app-toolbar-breadcrumb></app-kt-app-toolbar-breadcrumb>
    </div>
    <div class="d-flex align-items-center gap-2 gap-lg-3">
      <ng-content></ng-content>
    </div>
    <!--end::Actions-->
  </div>
  <!--end::Toolbar container-->
</div>
