<ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
  <li *ngFor="let breadcrumb of breadcrumbs; let last = last" class="breadcrumb-item">
    <ng-container *ngIf="!last">
      <a [routerLink]="breadcrumb.url" class="text-muted text-hover-primary">{{ breadcrumb.label }}</a>
      <span class="bullet bg-gray-400 w-5px h-2px"></span>
    </ng-container>
    <ng-container *ngIf="last">
      <span class="text-muted">{{ breadcrumb.label }}</span>
    </ng-container>
  </li>
</ul>
