<app-kt-list-page
  [title]="'Expense'"
  [addurl]="'/pages/expense/add'"
  (onFilter)="toggleFilters()"
  [showDeleteAll]="showDeleteAllButton"
  (onDeleteAll)="onDeleteAll($event)"
>
  <form class="mt-3" [formGroup]="form" *ngIf="crudService.filters">
    <formly-form [form]="form" [fields]="fields" [model]="model" (modelChange)="debouncedSubmitFilters($event)"></formly-form>
  </form>

  <hr *ngIf="crudService.filters" />

  <app-kt-app-list-page-table
    [columns]="columns"
    [currentPage]="crudService.page"
    [totalPages]="crudService.lastPage"
    (pageChange)="changePage($event)"
    (pageSize)="changePageSize($event)"
    [selectAll]="selectAll"
    (changeSelectAll)="changeSelectAll($event); showDeleteAllButton = $event"
  >
    <!-- Show "No results found" when not loading and list is empty -->
    <tr *ngIf="!crudService.loading && crudService.list.length === 0">
      <td colspan="10" class="text-center">No results found.</td>
    </tr>
    <!-- Data Rows -->
    <tr [hidden]="!(!crudService.loading && crudService.list.length > 0)" *ngFor="let item of crudService.list; let i = index">
      <!-- Name -->
      <td>
        <div class="fw-bold">{{ item?.name }}</div>
      </td>
      <!-- Description -->
      <td>
        <div>{{ item?.description }}</div>
      </td>
      <!-- Category -->
      <td>
        <div>{{ item?.category?.name }}</div>
      </td>
      <!-- Amount -->
      <td>
        <div>{{ item?.category.restaurant?.currency }} {{ item?.amount | number: '1.2-2' }}</div>
      </td>
      <!-- Type -->
      <td>
        <span
          class="badge"
          [ngClass]="{
            'badge-recurring': item?.type === 'recurring',
            'badge-one-time': item?.type === 'one-time'
          }"
        >
          {{ item?.type | titlecase }}
        </span>
      </td>
      <!-- Status -->
      <td>
        <app-list-expense-status [item]="item"></app-list-expense-status>
      </td>
      <!-- Created -->
      <td>
        <div>{{ item?.created_at | date: 'dd/MM/yyyy, HH:mm:ss' }}</div>
      </td>
      <!-- Updated -->
      <td>
        <div>{{ item?.updated_at | date: 'dd/MM/yyyy, HH:mm:ss' }}</div>
      </td>
      <!-- Image -->
      <td>
        <app-list-expense-image [item]="item"></app-list-expense-image>
      </td>
      <!-- Action -->
      <td class="text-start">
        <div class="d-flex flex-row justify-content-start align-items-center gap-3">
          <i class="ti ti-eye view-icon" style="font-size: 20px; cursor: pointer" (click)="openDetails(i)"></i>
          <i class="edit-icon ti ti-edit" style="font-size: 20px; cursor: pointer" (click)="openEditDetails(i)"></i>
          <i *ngIf="showEdit" class="ti ti-trash trash-icon" style="font-size: 20px; cursor: pointer" (click)="deleteRow(i)"></i>
        </div>
      </td>
      <!--begin::Checkbox-->
      <td>
        <div class="form-check form-check-sm form-check-custom form-check-solid">
          <input
            class="form-check-input"
            type="checkbox"
            [value]="item.selected"
            [checked]="item.selected"
            (change)="checkboxUpdate(i, $event)"
          />
        </div>
      </td>
      <!--end::Checkbox-->
    </tr>
    <!-- Skeleton Loader Row -->
    <tr *ngIf="crudService.loading">
      <td>
        <ngx-skeleton-loader
          appearance="custom-content"
          [theme]="{ width: '120px', height: '20px', background: 'rgba(0,0,0,0.2)' }"
          [animation]="true"
        ></ngx-skeleton-loader>
      </td>
      <td>
        <ngx-skeleton-loader
          appearance="custom-content"
          [theme]="{ width: '160px', height: '20px', background: 'rgba(0,0,0,0.2)' }"
          [animation]="true"
        ></ngx-skeleton-loader>
      </td>
      <td>
        <ngx-skeleton-loader
          appearance="custom-content"
          [theme]="{ width: '100px', height: '20px', background: 'rgba(0,0,0,0.2)' }"
          [animation]="true"
        ></ngx-skeleton-loader>
      </td>
      <td>
        <ngx-skeleton-loader
          appearance="custom-content"
          [theme]="{ width: '80px', height: '20px', background: 'rgba(0,0,0,0.2)' }"
          [animation]="true"
        ></ngx-skeleton-loader>
      </td>
      <td>
        <ngx-skeleton-loader
          appearance="custom-content"
          [theme]="{ width: '80px', height: '20px', background: 'rgba(0,0,0,0.2)' }"
          [animation]="true"
        ></ngx-skeleton-loader>
      </td>
      <td>
        <ngx-skeleton-loader
          appearance="custom-content"
          [theme]="{ width: '80px', height: '20px', background: 'rgba(0,0,0,0.2)' }"
          [animation]="true"
        ></ngx-skeleton-loader>
      </td>
      <td>
        <ngx-skeleton-loader
          appearance="custom-content"
          [theme]="{ width: '100px', height: '20px', background: 'rgba(0,0,0,0.2)' }"
          [animation]="true"
        ></ngx-skeleton-loader>
      </td>
      <td>
        <ngx-skeleton-loader
          appearance="custom-content"
          [theme]="{ width: '100px', height: '20px', background: 'rgba(0,0,0,0.2)' }"
          [animation]="true"
        ></ngx-skeleton-loader>
      </td>
      <td>
        <ngx-skeleton-loader
          appearance="custom-content"
          [theme]="{ width: '40px', height: '40px', background: 'rgba(0,0,0,0.2)' }"
          [animation]="true"
        ></ngx-skeleton-loader>
      </td>
      <td>
        <div class="d-flex flex-row justify-content-start align-items-center gap-3">
          <ngx-skeleton-loader
            *ngFor="let _ of [1, 2, 3]"
            appearance="custom-content"
            [theme]="{ width: '24px', height: '24px', background: 'rgba(0,0,0,0.2)' }"
          ></ngx-skeleton-loader>
        </div>
      </td>
    </tr>
  </app-kt-app-list-page-table>
</app-kt-list-page>
