<div class="wrapper">
  <div class="main-panel">
    <!-- BEGIN : Main Content-->
    <div class="main-content">
      <div class="content-overlay"></div>
      <div class="content-wrapper">
        <section class="users-view">
          <div class="row align-items-center">
            <!-- Left Side - User Info -->
            <div class="col-12 col-sm-7">
              <div class="media d-flex align-items-center">
                <a href="javascript:;">
                  <div *ngIf="item?.image; else userPlaceholder">
                    <img [src]="item.image" alt="user avatar" class="users-avatar-shadow rounded" height="4rem" width="4rem" />
                  </div>
                  <ng-template #userPlaceholder>
                    <div
                      class="users-avatar-shadow rounded d-flex align-items-center justify-content-center"
                      style="width: 4rem; height: 4rem; background-color: #f5f7fb"
                    >
                      <i class="ti ti-user" style="font-size: 2rem; color: #5e6e82"></i>
                    </div>
                  </ng-template>
                </a>
                <div class="media-body ml-3">
                  <h4>
                    <span class="users-view-name">Order</span>
                  </h4>
                  <span>ID:</span>
                  <span class="users-view-id">{{ itemId }}</span>
                </div>
              </div>
            </div>

            <!-- Right Side - Status Controls -->
            <div class="col-12 col-sm-5 mt-2 mt-sm-0">
              <div class="d-flex justify-content-sm-end gap-2">
                <button class="btn btn-primary col-auto" (click)="openStatusDropdown(item)">Update Status</button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <!-- Card data starts -->
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12 col-xl-4">
                        <table class="table table-borderless">
                          <tbody>
                            <tr>
                              <td>Payment Method:</td>
                              <td>{{ item?.payment_method }}</td>
                            </tr>
                            <tr>
                              <td>Order Type:</td>
                              <td>{{ item?.order_type }}</td>
                            </tr>
                            <tr>
                              <td>Contact Phone:</td>
                              <td>{{ item?.dial_code }} {{ item?.customer_phone }}</td>
                            </tr>
                            <tr>
                              <td>Address:</td>
                              <td>{{ item?.delivery_address }}</td>
                            </tr>
                            <tr>
                              <td>Status:</td>
                              <td>
                                <span
                                  class="badge fw-bold"
                                  [ngClass]="{
                                    'badge-pending': item?.status === 'Pending',
                                    'badge-confirmed': item?.status === 'Confirmed',
                                    'badge-preparing': item?.status === 'Preparing',
                                    'badge-ready-for-pickup': item?.status === 'Ready For Pickup',
                                    'badge-out-for-delivery': item?.status === 'Out For Delivery',
                                    'badge-delivered': item?.status === 'Delivered',
                                    'badge-completed': item?.status === 'Completed',
                                    'badge-cancelled': item?.status === 'Cancelled'
                                  }"
                                >
                                  {{ item?.status }}
                                </span>
                              </td>
                            </tr>

                            <tr>
                              <td>Coupon Code:</td>
                              <td>{{ item?.coupon_code }}</td>
                            </tr>
                            <tr>
                              <td>Important Notes:</td>
                              <td>{{ item?.notes }}</td>
                            </tr>
                            <tr>
                              <td>Table No:</td>
                              <td>{{ item?.table }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="col-12 col-xl-8 users-module">
                        <div class="table-responsive">
                          <h5>Products</h5>
                          <table class="table table-bordered mb-4">
                            <thead>
                              <tr>
                                <th class="fw-normal text-muted">Product Name</th>
                                <th class="fw-normal text-muted">Variations</th>
                                <th class="fw-normal text-muted">Product Quantity</th>
                                <th class="fw-normal text-muted">Price</th>
                                <th class="fw-normal text-muted">Total Price</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let product of item?.products">
                                <td>{{ product?.product_name }}</td>
                                <td>
                                  <ng-template #variation>
                                    <div class="row">
                                      <div class="col-12" *ngFor="let vari of product?.variation">
                                        <div *ngFor="let variation of vari">
                                          <div class="fw-bold fs-5">{{ variation.type }}</div>
                                          <div *ngFor="let option of variation.options" class="ms-4">
                                            <div *ngIf="option.selected">
                                              <span class="fw-semibold">{{ option.name }}</span>
                                              <br />
                                              <span class="text-muted">- {{ option.description }}</span>
                                              <span class="text-success">(${{ option.price | number: '1.2-2' }})</span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </ng-template>
                                  <ng-template #variationTitle>
                                    <div class="fw-bold fs-3">Variation Details</div>
                                  </ng-template>
                                  <button
                                    class="btn btn-sm"
                                    [ngbPopover]="variation"
                                    [popoverTitle]="variationTitle"
                                    triggers="manual"
                                    [autoClose]="'outside'"
                                    placement="top"
                                    #variationPopover="ngbPopover"
                                    (click)="closeAllPopovers(); variationPopover.open(); registerPopover(variationPopover)"
                                  >
                                    <i class="ti ti-versions" style="color: #000; font-size: 22px"></i>
                                  </button>
                                </td>
                                <td>{{ product?.quantity }}</td>
                                <td>${{ product?.price }}</td>
                                <td>${{ product?.quantity * product?.price }}</td>
                              </tr>
                            </tbody>
                            <tfoot>
                              <tr>
                                <td colspan="2" class="text-end fw-bold">
                                  Subtotal:
                                  <br />
                                  <span class="fw-normal">${{ item?.total_price | number: '1.2-2' }}</span>
                                </td>
                                <td colspan="2" class="text-end fw-bold">
                                  Discount:
                                  <br />
                                  <span class="fw-normal text-danger">- ${{ item?.discount_value | number: '1.2-2' }}</span>
                                </td>
                                <td class="text-end fw-bold">
                                  Total:
                                  <br />
                                  <span class="fw-normal text-success">
                                    ${{
                                      (item?.discount_value && item?.discount_value > 0 ? item?.final_total : item?.total_price)
                                        | number: '1.2-2'
                                    }}
                                  </span>
                                </td>
                              </tr>
                            </tfoot>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Card data ends -->
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
