.badge-pending {
  background-color: #ffecb3;
  color: #ff9800;
}

.badge-confirmed {
  background-color: #e3f2fd;
  color: #1976d2;
}

.badge-preparing {
  background-color: #ffe0b2;
  color: #f57c00;
}

.badge-ready-for-pickup {
  background-color: #d1c4e9;
  color: #512da8;
}

.badge-out-for-delivery {
  background-color: #bbdefb;
  color: #1976d2;
}

.badge-delivered {
  background-color: #c8e6c9;
  color: #388e3c;
}

.badge-completed {
  background-color: #dcedc8;
  color: #4caf50;
}

.badge-cancelled {
  background-color: #ffcdd2;
  color: red;
}

/* user page css */
/*---------------*/
.users-list-wrapper .dataTables_length {
  margin-top: 0 !important;
}
.users-list-wrapper .dataTables_length select {
  margin: 0 0.5rem;
}

.users-list-wrapper .dataTables_filter {
  margin-top: 0 !important;
}

.users-list-wrapper .dataTables_wrapper .dataTables_paginate .pagination {
  margin: 0;
}

.users-list-wrapper .dataTables_wrapper .dataTable thead tr th {
  border: none;
}

.users-view .table-borderless td {
  padding: 0.3rem 0;
}
.users-view .table-borderless td:first-child {
  width: 10rem;
}

.users-view h6.text-primary span.text-bold-400 {
  color: #975aff !important;
}

.users-view .users-avatar-shadow,
.users-edit .users-avatar-shadow {
  box-shadow: 2px 4px 14px 0 rgba(0, 0, 0, 0.4);
}

.users-view .users-module .table th,
.users-edit .users-module .table th {
  border-top: none;
}

.users-view .users-module .table th,
.users-view .users-module .table td,
.users-edit .users-module .table th,
.users-edit .users-module .table td {
  padding: 0.7rem 2.5rem;
}

.users-list-wrapper .dataTables_length {
  margin-top: 0 !important;
}
.users-list-wrapper .dataTables_length select {
  margin: 0 0.5rem;
}
.users-list-wrapper .dataTables_filter {
  margin-top: 0 !important;
}
.users-list-wrapper .dataTables_wrapper .dataTables_paginate .pagination {
  margin: 0;
}
.users-list-wrapper .dataTables_wrapper .dataTable thead tr th {
  border: none;
}
.users-view .table-borderless td {
  padding: 0.3rem 0;
}
.users-view .table-borderless td:first-child {
  width: 10rem;
}
.users-view h6.text-primary span.text-bold-400 {
  color: #975aff !important;
}
.users-edit .users-avatar-shadow,
.users-view .users-avatar-shadow {
  box-shadow: 2px 4px 14px 0 rgba(0, 0, 0, 0.4);
}
.users-edit .users-module .table th,
.users-view .users-module .table th {
  border-top: none;
}
.users-edit .users-module .table td,
.users-edit .users-module .table th,
.users-view .users-module .table td,
.users-view .users-module .table th {
  padding: 0.7rem 2.5rem;
}

.badge-active {
  background-color: #28a745; /* Green for active status */
  color: white;
}

.badge-inactive {
  background-color: #a72121; /* Gray for inactive status */
  color: white;
}
