// @import "../../../../assets/css/style.bundle.css";


.d-flex {
  display: flex;
}

.gap-2 {
  gap: 10px; /* Adjust spacing as needed */
}

.form-control {
  flex: 1; /* Ensures inputs stretch evenly */
}

.btn-123{
margin-top:16px;
}
.autocomplete-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ddd;
  max-height: 150px;
  overflow-y: auto;
  background: #fff;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.autocomplete-list li {
  padding: 8px;
  cursor: pointer;
}

.autocomplete-list li:hover {
  background-color: #f0f0f0;
}

.align-top {
  vertical-align: top !important;
}
.table td {
  vertical-align: top;
}
