<app-kt-app-form-page [title]="'Add Categories'">
  <div class="card">
    <div class="card-content">
      <div class="card-body">
        <form [formGroup]="form">
          <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
          
          <!-- File error display -->
          <div *ngIf="fileError" class="alert alert-danger mt-2">
            {{ fileError }}
          </div>
          
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-warning btn-123" (click)="onSubmit(model)">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</app-kt-app-form-page>
