<div class="category-items-outer">

  <div class="nav-item" *ngFor="let item of categories" (click)="setActiveCategory(item)">
    <!--begin::Link-->
    <a class="nav-link btn btn-flex flex-column overflow-hidden p-5 single-category-item">

      <!--begin::Title-->
      <span class="nav-text text-gray-800 fw-bold fs-6 lh-1">{{item.name}}</span>
      <!--end::Title-->
      <!--begin::Bullet-->
      <span *ngIf="item.active" class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-primary"></span>
      <!--end::Bullet-->
    </a>
    <!--end::Link-->
  </div>

</div>
