<div class="d-flex justify-content-start align-items-center gap-2">
  <div class="nav-item single-category-item" *ngFor="let item of orderService.categories"
    (click)="setActiveCategory(item)" [class.active]="item.active">
    <!-- <div class="cat-item d-flex btn btn-sm flex-row justify-content-center align-items-center gap-2 rounded shadow-sm text-center">
        <img [src]="item.image" class="cat-image" />
        <span class="cat-name">{{ item.name }}</span>
      </div> -->
    <a class="nav-link d-flex align-items-center justify-content-center gap-2">
      <i class="ft-layers"></i>
      <span> {{ item.name }} </span>
      <span class="">23</span>
    </a>
  </div>
</div>

<!-- 
<div class="category-items-outer d-flex flex-wrap gap-4">
  
  <div class="nav-item"
       *ngFor="let item of orderService.categories"
       (click)="setActiveCategory(item)"
       [class.active]="item.active">
    <a class="nav-link btn btn-flex flex-column overflow-hidden p-5 single-category-item text-center shadow-sm">
      <div class="category-image-container mb-3">
        <img
          *ngIf="item.image"
          [src]="item.image "
          alt="{{item.name}}"
          class="rounded-circle"
          style="width: 80px; height: 80px; object-fit: cover;">
      </div>
      <span class="nav-text text-gray-800 fw-bold fs-6 lh-1">{{item.name}}</span>
      <span *ngIf="item.active"
            class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-primary"></span>
    </a>
    
  </div>
</div> -->