// .category-items-outer {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   gap: 8px;

//   max-height: 100%;
//   overflow-y: scroll;
// }

.single-category-item {
  background-color: transparent;
  border: 1px solid #E7E9EC;
  border-radius: 0.35rem;
  transition-duration: 1ms;
  position: relative;
}

.single-category-item:hover {
  background-color: #E7E9EC;
}

.single-category-item.active {
  border: 1px solid var(--red);
  background-color: var(--red);
  color: #fff;
  font-weight: 600;
}
