<!-- <app-kt-list-detail-page [title]="'Restaurant Table'">
  <div class="card card-flush pt-3 mb-5 mb-xl-10">
    <div class="row mb-5">
      <div class="col-xl-3">
        <div class="fs-6 fw-semibold mt-2 mb-3">TABLE QR CODE</div>
      </div>
      <div class="col-lg-8" style="margin-bottom: 50px">
        <div class="image-input image-input-outline" data-kt-image-input="true">
          <qr-code value="{{ item?.qr_code }}" size="300" errorCorrectionLevel="M" />
        </div>
      </div>
    </div>
    <div class="card-header">
      <div class="card-title">
        <h2 class="fw-bold">Table Details</h2>
      </div>
    </div>
    <div class="card-body pt-3">
      <div class="mb-10">
        <div class="d-flex flex-wrap py-5">
          <div class="flex-equal me-5">
            <table class="table fs-6 fw-semibold gs-0 gy-2 gx-2 m-0">
              <tr>
                <td class="text-gray-400 min-w-175px w-175px">Table Name</td>
                <td class="text-gray-800 min-w-200px">{{ item?.name }}</td>
              </tr>
              <tr>
                <td class="text-gray-400">Description</td>
                <td class="text-gray-800">{{ item?.description }}</td>
              </tr>
              <tr>
                <td class="text-gray-400">Status</td>
                <td class="text-gray-800">{{ item?.status }}</td>
              </tr>
            </table>
          </div>
          <div class="flex-equal">
            <table class="table fs-6 fw-semibold gs-0 gy-2 gx-2 m-0">
              <tr>
                <td class="text-gray-400 min-w-175px w-175px">Floor</td>
                <td class="text-gray-800 min-w-200px">{{ item?.floor }}</td>
              </tr>
              <tr>
                <td class="text-gray-400">Number of Seats</td>
                <td class="text-gray-800">{{ item?.no_of_seats }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-kt-list-detail-page> -->
<div class="main-panel">
  <!-- BEGIN : Main Content-->
  <div class="main-content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
      <section class="users-view">
        <div class="card mb-2">
            <div class="card-body d-flex align-items-center">
              <!-- Profile Image -->
              <img
                [src]="item?.image ? item?.image : 'assets/images/user/user_placeholder.png'"
                alt="user avatar"
                class="users-avatar-shadow rounded me-3"
                height="64"
                width="64"
              />

              <!-- Name & ID -->
               <div class="media-body ml-3">
                <h4 class="mb-1">{{ item?.name }}</h4>
                <p class="mb-0"><strong>ID:</strong> {{ item?.id }}</p>
              </div>
            </div>
          </div>
        <!-- Media object starts -->
        <!-- <div class="row align-items-center"> -->
          <!-- Left Side - User Info -->
          <!-- <div class="col-12 col-sm-7">
            <div class="media d-flex align-items-center">
              <a href="javascript:;">
                <div *ngIf="item?.image; else userPlaceholder">
                  <img [src]="item.image" alt="user avatar" class="users-avatar-shadow rounded" height="4rem" width="4rem" />
                </div>
                <ng-template #userPlaceholder>
                  <div
                    class="users-avatar-shadow rounded d-flex align-items-center justify-content-center"
                    style="width: 4rem; height: 4rem; background-color: #f5f7fb"
                  >
                    <i class="ti ti-user" style="font-size: 2rem; color: #5e6e82"></i>
                  </div>
                </ng-template>
              </a>
              <div class="media-body ml-3">
                <h4>
                  <span class="users-view-name">{{ item?.identifier }}</span>
                </h4>
                <span>ID:</span>
                <span class="users-view-id">{{ itemId }}</span>
              </div>
            </div>
          </div>
        </div> -->
        <!-- Media object ends -->

        <div class="row">
          <div class="col-12">
            <!-- Card data starts -->
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <div class="row">
                    <div class="col-6 col-xl-4">
                      <div class="image-input image-input-outline p-0 m-0" data-kt-image-input="true">
                        <qr-code [value]="item?.qr_code" [size]="300" errorCorrectionLevel="M"></qr-code>
                      </div>
                      <table class="table table-borderless">
                        <tbody>
                          <tr>
                            <td style="padding: 0.5rem 0 !important">Description:</td>
                            <td style="padding: 0.5rem 0 !important">{{ item?.description }}</td>
                          </tr>
                          <tr>
                            <td style="padding: 0.5rem 0 !important">Identifier</td>
                            <td style="padding: 0.5rem 0 !important">{{ item?.identifier }}</td>
                          </tr>
                          <tr>
                            <td style="padding: 0.5rem 0 !important">Floor:</td>
                            <td style="padding: 0.5rem 0 !important">{{ item?.floor }}</td>
                          </tr>
                          <tr>
                            <td style="padding: 0.5rem 0 !important">No of Seats:</td>
                            <td style="padding: 0.5rem 0 !important">{{ item?.no_of_seats }}</td>
                          </tr>
                          <tr>
                            <td style="padding: 0.5rem 0 !important">Status:</td>
                            <td style="padding: 0.5rem 0 !important">
                              <span
                                class="badge fw-bold me-auto"
                                [ngClass]="{
                                  'badge-active': item.status === 'Active',
                                  'badge-inactive': item.status === 'Inactive'
                                }"
                              >
                                {{ item?.status }}
                              </span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
