<app-kt-list-detail-page [title]="'Restaurant Table'">
  <!--begin::Card-->
  <div class="card card-flush pt-3 mb-5 mb-xl-10">
    <!--begin::Card header-->
    <div class="card-header">
      <!--begin::Card title-->
      <div class="card-title">
        <h2 class="fw-bold">Table Details</h2>
      </div>
      <!--end::Card title-->
    </div>
    <!--end::Card header-->
    <!--begin::Card body-->
    <div class="card-body pt-3">
      <!--begin::Section-->
      <div class="mb-10">
        <!--begin::Details-->
        <div class="d-flex flex-wrap py-5">
          <!--begin::Left Column-->
          <div class="flex-equal me-5">
            <!--begin::Details Table-->
            <table class="table fs-6 fw-semibold gs-0 gy-2 gx-2 m-0">
              <!--begin::Row-->
              <tr>
                <td class="text-gray-400 min-w-175px w-175px">Table Name</td>
                <td class="text-gray-800 min-w-200px">{{item?.name}}</td>
              </tr>
              <!--end::Row-->
              <!--begin::Row-->
              <!--end::Row-->
              <!--begin::Row-->
              <tr>
                <td class="text-gray-400">Description</td>
                <td class="text-gray-800">{{item?.description}}</td>
              </tr>
              <!--end::Row-->
              <!--begin::Row-->
              <tr>
                <td class="text-gray-400">Status</td>
                <td class="text-gray-800">{{item?.status}}</td>
              </tr>
              <!--end::Row-->
            </table>
            <!--end::Details Table-->
          </div>
          <!--end::Left Column-->
          <!--begin::Right Column-->
          <div class="flex-equal">
            <!--begin::Details Table-->
            <table class="table fs-6 fw-semibold gs-0 gy-2 gx-2 m-0">
              <!--begin::Row-->
              <tr>
                <td class="text-gray-400 min-w-175px w-175px">Floor</td>
                <td class="text-gray-800 min-w-200px">{{item?.floor}}</td>
              </tr>
              <!--end::Row-->
              <!--begin::Row-->
              <tr>
                <td class="text-gray-400">Number of Seats</td>
                <td class="text-gray-800">{{item?.no_of_seats}}</td>
              </tr>
              <!--end::Row-->
            </table>
            <!--end::Details Table-->
          </div>
          <!--end::Right Column-->
        </div>
        <!--end::Details-->
      </div>
      <!--end::Section-->
    </div>
    <!--end::Card body-->
  </div>
  <!--end::Card-->
</app-kt-list-detail-page>
