<!--begin::Mixed Widget 10-->
<div class="card">
  <!--begin::Header-->
  <div class="card-header d-flex flex-row flex-wrap align-items-center justify-content-between ">
    <div class="">
      <h4 class="card-title">TOP 10 PRODUCTS SALES</h4>
      <div class="text-primary fw-bold fs-4">${{ amount }}</div>
    </div>    
    <div class="d-flex justify-content-end gap-2">
      <button class="btn btn-sm btn-outline-primary btn-tab" [ngClass]="{ active: btnActive === 'day' }" (click)="toggleActive('day')">
        Daily
      </button>
      <button class="btn btn-sm btn-outline-primary" [ngClass]="{ active: btnActive === 'week' }" (click)="toggleActive('week')">
        Weekly
      </button>
      <button class="btn btn-sm btn-outline-primary" [ngClass]="{ active: btnActive === 'month' }" (click)="toggleActive('month')">
        Monthly
      </button>
    </div>
  </div>
  <!--end::Header-->

  <!--begin::Content-->
  <div class="card-content">
    <div class="card-body">
      <!--begin::Chart-->
      <div class="height-350 lineArea" style="height: 360px">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.xaxis"
          [colors]="chartOptions.colors"
          [legend]="chartOptions.legend"
          [plotOptions]="chartOptions.plotOptions"
          [dataLabels]="chartOptions.dataLabels"
        ></apx-chart>
      </div>
      <!--end::Chart-->
    </div>
  </div>
  <!--end::Content-->
</div>
<!--end::Mixed Widget 10-->
