<div class="d-flex flex-column flex-column-fluid">
  <!--begin::Toolbar-->
  <!-- <app-kt-app-toolbar [title]="'Restaurant'">
    <a [routerLink]="'/pages/restaurants/add'" class="btn btn-sm fw-bold btn-primary d-flex align-items-center gap-2"><i
        class="ti ti-plus"></i> Create</a>
  </app-kt-app-toolbar> -->
  <!--end::Toolbar-->
  <!--begin::Content-->
  <app-kt-app-list-page-table [columns]="columns">
    <!--begin::Table row-->
    <tr *ngFor="let item of list">
      <!--begin::Checkbox-->
      <td>
        <div class="form-check form-check-sm form-check-custom form-check-solid">
          <input class="form-check-input" type="checkbox" value="1" />
        </div>
      </td>
      <!--end::Checkbox-->
      <td>
        <div class="d-flex">
          <!--begin::Thumbnail-->
          <a class="symbol symbol-50px">
            <span class="symbol-label" [ngStyle]="{'background-image': 'url( {{item.image_url}} )'}"></span>
          </a>
          <!--end::Thumbnail-->
          <div class="ms-5">
            <a class="text-gray-800 text-hover-primary fs-5 fw-bold mb-1">{{item.name}}</a>
            <div class="text-muted fs-7 fw-bold">{{item.address}}</div>
          </div>
        </div>
      </td>
      <td>
        <div class="text-muted fs-7 ">
          {{item.website}} <br />
          {{item.phone}}
        </div>
      </td>
      <!--begin::Action=-->
      <td class="text-end d-flex flex-row justify-content-end gap-3">

        <button class="btn btn-sm text-center d-flex flex-row justify-content-center align-items-center px-0">Edit</button>
        <button class="btn btn-sm text-center d-flex flex-row justify-content-center align-items-center px-0">Delete</button>

      </td>
      <!--end::Action=-->
    </tr>
    <!--end::Table row-->
  </app-kt-app-list-page-table>

  <!--end::Content-->
</div>
