.badge-active {
    background-color: #28a745; /* Green for active status */
    color: white;
  }
  
  .badge-inactive {
    background-color: #a72121; /* Gray for inactive status */
    color: white;
  }
  .disabled-icon {
    color: #ccc; /* Faded gray */
    cursor: not-allowed;
    pointer-events: none; /* Disable click */
    opacity: 0.5;
  }
  