<app-kt-list-page [title]="'Invoices'" [addurl]="'/pages/invoices/add'" (onFilter)="toggleFilters()">
  <form [formGroup]="form" *ngIf="crudService.filters" (ngSubmit)="submitFilters(model)">
    <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
    <button type="submit" class="btn btn-secondary mt-4">search</button>
  </form>

  <hr *ngIf="crudService.filters" />

  <app-kt-app-list-page-table
    [columns]="columns"
    [currentPage]="crudService.page"
    [totalPages]="crudService.lastPage"
    (pageChange)="changePage($event)"
  >
    <tr *ngFor="let item of crudService.list; let i = index">
      <td>
        <div  class="d-flex">
          <div class="ms-5">
            <a class="text-muted fs-7 fw-bold text-hover-primary fs-5 fw-bold mb-1">{{item?.invoice_no}}</a>
          </div>
        </div>
      </td>
      <td>
        <div  class="d-flex">
          <div class="ms-5">
            <a class="text-muted fs-7 fw-bold text-hover-primary fs-5 fw-bold mb-1">{{item?.invoice_date}}</a>
          </div>
        </div>
      </td>
      <td>
        <div  class="d-flex">
          <div class="ms-5">
            <a class="text-muted fs-7 fw-bold text-hover-primary fs-5 fw-bold mb-1">{{item?.payment_method}}</a>
          </div>
        </div>
      </td>
      <td>
        <div class="d-flex">
          <div class="badge badge-secondary text-muted fs-7 fw-bold">${{ item?.total}}</div>
        </div>
      </td>
      <td>
        <div class="d-flex">
          <div class="badge badge-light-primary fw-bold me-auto px-4 py-3">{{ item.status }}</div>
        </div>
      </td>

      <!-- <ng-content></ng-content> -->
      <!--begin::Action=-->
      <td class="text-end">
        <div class="d-flex flex-row justify-content-end align-items-center gap-3">
          <i class="ti ti-eye" style="font-size: 24px" (click)="openDetails(i)"></i>
          <i *ngIf="showEdit" class="ti ti-edit" style="font-size: 24px"></i>
          <i *ngIf="showEdit" class="ti ti-trash" style="font-size: 24px" (click)="deleteRow(i)"></i>
        </div>
      </td>
      <!--end::Action=-->
      <!--begin::Checkbox-->
      <td>
        <div class="form-check form-check-sm form-check-custom form-check-solid">
          <input class="form-check-input" type="checkbox" value="1" />
        </div>
      </td>
      <!--end::Checkbox-->
      <!--end::Table row-->
    </tr>
  </app-kt-app-list-page-table>
</app-kt-list-page>
