<!-- <app-navigation class="coded-navbar pc-sidebar" [ngClass]="{
    'navbar-collapsed': navCollapsed,
    'mob-open': navCollapsedMob
  }" (NavCollapsedMob)="navMobClick()"></app-navigation> -->
<!-- <app-nav-bar (NavCollapse)="this.navCollapsed = !this.navCollapsed" (NavCollapsedMob)="navMobClick()"></app-nav-bar> -->
<app-btop-header></app-btop-header>
<div class="pc-container p-7 pt-9">
  <div class="coded-wrapper">
    <div class="coded-content">
      <div class="coded-inner-content">
        <app-breadcrumbs></app-breadcrumbs>
        <div class="main-body">
          <div class="page-wrapper">
            <div class="row">
              <div class="col-md-4">
                <app-apex-sales-chart></app-apex-sales-chart>
              </div>
              <div class="col-md-4">
                <app-apex-top-sales-chart></app-apex-top-sales-chart>
              </div>
              <div class="col-md-4">
                <app-apex-customer-chart></app-apex-customer-chart>
              </div>
            </div>




            <div class="row">
              <!-- <div class="col-xl-4 col-md-6 ">
                <app-chart-order />
              </div>
              <div class="col-xl-4 col-md-6">
                <div class="card earning-card bg-primary-dark text-white overflow-hidden">
                  <span class="round primary-round small"></span>
                  <span class="round primary-round big"></span>
                  <div class="card-body">
                    <app-chart-data-month />
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-md-12">
                <div class="card total-income-card overflow-hidden bg-primary-dark text-white">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="avatar avatar-lg icon m-r-5">
                        <i class="text-white ti ti-layout-board-split f-24"></i>
                      </div>
                      <div class="ms-2">
                        <h4 class="text-white f-w-600 mb-1">$203k</h4>
                        <p class="mb-0 opacity-50 text-sm">Total Income</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card total-income-card warning overflow-hidden">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="avatar avatar-lg icon-warning m-r-5">
                        <i class="text-warning ti ti-layout-board-split f-24"></i>
                      </div>
                      <div class="ms-2">
                        <h4 class="f-w-600 mb-1">500k</h4>
                        <p class="mb-0 opacity-50 text-sm">Total sales</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->

              <div class="col-xl-8 col-md-12">
                <!-- <app-bar-chart /> -->
                <!--begin::Tables widget 2-->
                <app-recent-order />
                <!-- <app-order-status/> -->
                <app-project-stat />
                <!--end::Tables widget 2-->
              </div>

              <div class="col-xl-4 col-md-12">
                <app-sales-chart />
                <app-favourite-table />


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
