<app-full-layout>
  <div class="main-body">
    <div class="page-wrapper">
      <div class="row my-2">
        <div class="col-xl-6 col-lg-6 col-md-6 col-12">
          <div class="card gradient-purple-love">
            <div class="card-content">
              <div class="card-body py-0">
                <div class="media pb-1">
                  <div class="media-body white text-left">
                    <h3 class="font-large-1 white mb-0">{{ totalOrders }}</h3>
                    <span>Total Orders</span>
                  </div>
                  <div class="media-right white text-right">
                    <i class="ft-activity font-large-1"></i>
                  </div>
                </div>
              </div>
              <div id="line-chart">
                <apx-chart
                  [chart]="{
                    type: 'line',
                    height: 75,
                    toolbar: {
                      show: false
                    },
                    zoom: {
                      enabled: false
                    },
                    dropShadow: {
                      enabled: true,
                      top: 1,
                      left: 1,
                      blur: 3,
                      opacity: 0.2
                    }
                  }"
                  [stroke]="{
                    curve: 'straight',
                    width: 2,
                    colors: ['#fff']
                  }"
                  [series]="chartSeries1"
                  [xaxis]="chartOptions.xaxis"
                  [yaxis]="chartOptions.yaxis"
                  [grid]="chartOptions.grid"
                  [tooltip]="chartOptions.tooltip"
                ></apx-chart>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-12">
          <div class="card gradient-ibiza-sunset">
            <div class="card-content">
              <div class="card-body py-0">
                <div class="media pb-1">
                  <div class="media-body white text-left">
                    <h3 class="font-large-1 white mb-0">{{ this.currencySymbol + ' ' }} {{ totalRevenue }}</h3>
                    <span>Total Amount</span>
                  </div>
                  <div class="media-right white text-right">
                    <i class="ft-percent font-large-1"></i>
                  </div>
                </div>
              </div>
              <div id="line-chart">
                <apx-chart
                  [chart]="{
                    type: 'line',
                    height: 75,
                    toolbar: {
                      show: false
                    },
                    zoom: {
                      enabled: false
                    },
                    dropShadow: {
                      enabled: true,
                      top: 1,
                      left: 1,
                      blur: 3,
                      opacity: 0.2
                    }
                  }"
                  [stroke]="{
                    curve: 'straight',
                    width: 2,
                    colors: ['#fff']
                  }"
                  [series]="chartSeries2"
                  [xaxis]="chartOptions.xaxis"
                  [yaxis]="chartOptions.yaxis"
                  [grid]="chartOptions.grid"
                  [tooltip]="chartOptions.tooltip"
                ></apx-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row my-2">
        <!-- <div class="col-md-12 col-xl-12 col-12">
          <app-apex-sales-chart></app-apex-sales-chart>
        </div> -->
        <div class="col-md-12 col-xl-4 col-12 my-2">
          <app-apex-customer-chart></app-apex-customer-chart>
        </div>
        <div class="col-md-12 col-xl-4 col-12 my-2">
          <app-apex-top-sales-chart></app-apex-top-sales-chart>
        </div>
        <div class="col-md-12 col-xl-4 col-12 my-2">
          <app-sales-chart></app-sales-chart>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-xl-8 col-md-12 mb-12">
          <app-recent-order />
        </div>
        <div class="col-xl-4 col-md-12">
          <app-favourite-table />
        </div>
        <!-- <div class="col-xl-8 col-md-12 mb-12">
          <app-project-stat />
        </div> -->
      </div>
    </div>
  </div>
</app-full-layout>
<!--
<app-btop-header></app-btop-header>
<div class="pc-container">
  <div class="coded-wrapper">
    <div class="coded-content">
      <div class="coded-inner-content">
        <app-breadcrumbs></app-breadcrumbs>
        <div class="main-body">
          <div class="page-wrapper">
            <div class="row">
              <div class="col-md-12 col-xl-12 col-12 ">
                <app-apex-sales-chart></app-apex-sales-chart>
              </div>
              <div class="col-md-12 col-xl-4 col-12">
                <app-apex-customer-chart></app-apex-customer-chart>
              </div>
              <div class="col-md-12 col-xl-4 col-12">
                <app-apex-top-sales-chart></app-apex-top-sales-chart>
              </div>
              <div class="col-md-12 col-xl-4 col-12"> <app-sales-chart /></div>
            </div>
            <div class="row">
              <div class="col-xl-8 col-md-12">
                <app-recent-order />
                <app-project-stat />
              </div>

              <div class="col-xl-4 col-md-12">
                <app-favourite-table />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
