<div class="wrapper">
  <div class="main-panel">
    <!-- BEGIN : Main Content-->
    <div class="main-content">
      <div class="content-overlay"></div>
      <div class="content-wrapper">
        <section class="users-view">
          <div class="row">
            <div class="col-12 col-sm-7">
              <div class="media d-flex align-items-center">
                <a href="javascript:;">
                  <div *ngIf="item?.image; else iconPlaceholder">
                    <img [src]="item.image" alt="user view avatar" class="users-avatar-shadow rounded" height="64" width="64" />
                  </div>
                  <ng-template #iconPlaceholder>
                    <div
                      class="users-avatar-shadow rounded d-flex align-items-center justify-content-center"
                      style="width: 64px; height: 64px; background-color: #f5f7fb"
                    >
                      <i class="ti ti-file-invoice" style="font-size: 2rem; color: #5e6e82"></i>
                    </div>
                  </ng-template>
                </a>
                <div class="media-body ml-3">
                  <h4>
                    <span class="users-view-name">{{ item?.name }}</span>
                  </h4>
                  <span>ID:</span>
                  <span class="users-view-id">{{ item?.id }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <!-- Card data starts -->
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12 col-xl-4">
                        <table class="table table-borderless">
                          <tbody>
                            <tr>
                              <td>Description:</td>
                              <td>{{ item?.description }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="col-12 col-xl-8 users-module">
                        <div class="table-responsive">
                          <h5>Options and Prices</h5>
                          <table class="table table-bordered mb-4">
                            <thead>
                              <tr>
                                <th class="fw-normal text-muted">Option Name</th>
                                <th class="fw-normal text-muted">Price</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let variation of item?.meta_value">
                                <ng-container *ngFor="let opt of variation.options">
                                  <td>{{ opt.name }}</td>
                                  <td>{{ opt.price }}</td>
                                </ng-container>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Card data ends -->
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
