<app-kt-list-detail-page [title]="'Variations'">

  <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
    <!--begin::Card body-->
    <div class="card-body">
      <div class="row mb-7">
        <!--begin::Label-->
        <label class="col-lg-4 fw-semibold text-muted">Name</label>
        <!--end::Label-->
        <!--begin::Col-->
        <div class="col-lg-8">
          <span class="fw-bold fs-6 text-gray-800">{{item?.name}}</span>
        </div>
        <!--end::Col-->
      </div>
      <!--end::Row-->

      <!--begin::Row-->
      <div class="row mb-7">
        <!--begin::Label-->
        <label class="col-lg-4 fw-semibold text-muted">Description</label>
        <!--end::Label-->
        <!--begin::Col-->
        <div class="col-lg-8">
          <span class="fw-bold fs-6 text-gray-800">{{item?.description}}</span>
        </div>
        <!--end::Col-->
      </div>
      <!--end::Row-->

      <!--begin::Row-->
      <div class="row mb-7">
        <!--begin::Label-->
        <label class="col-lg-4 fw-semibold text-muted">Options</label>
        <!--end::Label-->
        <!--begin::Col-->
        <div class="col-lg-8" *ngFor="let opt of item?.meta_value.options">
          <span class="fw-bold fs-6 text-gray-800">{{opt.option.join(', ')}}</span>
        </div>
        <!--end::Col-->
      </div>
      <!--end::Row-->

      <!--begin::Row-->
      <!--end::Row-->

      <!--begin::Row-->
      <!--end::Row-->

      <!--begin::Row-->

      <!--end::Row-->

    </div>
    <!--end::Card body-->
  </div>

</app-kt-list-detail-page>
