<app-kt-list-detail-page [title]="'Variations'">
  <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
    <!--begin::Card body-->
    <div class="card-body">
      <div class="row mb-7">
        <!--begin::Label-->
        <label class="col-lg-4 fw-semibold text-muted">Name</label>
        <!--end::Label-->
        <!--begin::Col-->
        <div class="col-lg-8">
          <span class="fw-bold fs-6 text-gray-800">{{ item?.name }}</span>
        </div>
        <!--end::Col-->
      </div>
      <!--end::Row-->

      <!--begin::Row-->
      <div class="row mb-7">
        <!--begin::Label-->
        <label class="col-lg-4 fw-semibold text-muted">Description</label>
        <!--end::Label-->
        <!--begin::Col-->
        <div class="col-lg-8">
          <span class="fw-bold fs-6 text-gray-800">{{ item?.description }}</span>
        </div>
        <!--end::Col-->
      </div>
      <!--end::Row-->

      <!--begin::Row-->
      <div class="row mb-7">
        <!-- Begin Table -->
        <label class="col-lg-4 fw-semibold text-muted">Options and Prices</label>
        <div class="col-lg-8">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th class="fw-bold fs-6 text-gray-800">Option Name</th>
                <th class="fw-bold fs-6 text-gray-800">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let variation of item?.meta_value">
                <ng-container *ngFor="let opt of variation.options">
                  <td>{{ opt.name }}</td>
                  <td>{{ opt.price }}</td>
                </ng-container>
              </tr>
            </tbody>
          </table>

        </div>
        <!-- End Table -->
      </div>

      <!--end::Row-->

      <!--begin::Row-->
      <!--end::Row-->

      <!--begin::Row-->
      <!--end::Row-->

      <!--begin::Row-->

      <!--end::Row-->
    </div>
    <!--end::Card body-->
  </div>
</app-kt-list-detail-page>
