<!--begin::Content-->
<div id="kt_app_content" class="app-content flex-column-fluid">
  <!--begin::Content container-->
  <div id="kt_app_content_container" class="app-container container-fluid">
    <!--begin::Category-->
    <div class="card card-flush">
      <!--begin::Card header-->
      <div class="card-header align-items-center py-5 gap-2 gap-md-5">
        <!--begin::Card title-->
        <div class="card-title">
          <app-kt-app-toolbar [title]="'Restaurants'"></app-kt-app-toolbar>
          <!--begin::Search-->
          <div class="d-flex align-items-center position-relative my-1">
            <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
            <span class="svg-icon svg-icon-1 position-absolute ms-4">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1"
                  transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                <path
                  d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
                  fill="currentColor" />
              </svg>
            </span>
            <!--end::Svg Icon-->
            <input type="text" data-kt-ecommerce-category-filter="search"
              class="form-control form-control-solid w-250px ps-14" placeholder="Search" />
          </div>
          <!--end::Search-->
        </div>
        <!--end::Card title-->
        <!--begin::Card toolbar-->
        <div class="card-toolbar">
          <!--begin::Add customer-->
          <a [routerLink]="'/pages/restaurants/add'" class="btn btn-sm fw-bold btn-primary d-flex align-items-center gap-2"><i
            class="ti ti-plus"></i> Create</a>
          <!--end::Add customer-->
        </div>
        <!--end::Card toolbar-->
      </div>
      <!--end::Card header-->
      <!--begin::Card body-->
      <div class="card-body pt-0">
        <!--begin::Table-->
        <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_ecommerce_category_table">
          <!--begin::Table head-->
          <thead>
            <!--begin::Table row-->
            <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
              <th class="w-10px pe-2">
                <div class="form-check form-check-sm form-check-custom form-check-solid me-3">
                  <input class="form-check-input" type="checkbox" data-kt-check="true"
                    data-kt-check-target="#kt_ecommerce_category_table .form-check-input" value="1" />
                </div>
              </th>
              <th class="min-w-250px" *ngFor="let col of columns">{{col}}</th>
              <th class="text-end min-w-70px">Actions</th>
            </tr>
            <!--end::Table row-->
          </thead>
          <!--end::Table head-->
          <!--begin::Table body-->
          <tbody class="fw-semibold text-gray-600">
            <!--begin::Table row-->
            <ng-content></ng-content>
            <!--end::Table row-->
          </tbody>
          <!--end::Table body-->
        </table>
        <!--end::Table-->
        <div class="row">
          <div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start">
            <div class="dataTables_length" id="kt_ecommerce_category_table_length"><label><select
                  name="kt_ecommerce_category_table_length" aria-controls="kt_ecommerce_category_table"
                  class="form-select form-select-sm form-select-solid">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select></label></div>
          </div>
          <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
            <div class="dataTables_paginate paging_simple_numbers" id="kt_ecommerce_category_table_paginate">
              <ul class="pagination">
                <li class="paginate_button page-item previous disabled" id="kt_ecommerce_category_table_previous"><a
                    href="#" aria-controls="kt_ecommerce_category_table" data-dt-idx="0" tabindex="0"
                    class="page-link"><i class="previous"></i></a></li>
                <li class="paginate_button page-item active"><a href="#" aria-controls="kt_ecommerce_category_table"
                    data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                <li class="paginate_button page-item "><a href="#" aria-controls="kt_ecommerce_category_table"
                    data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                <li class="paginate_button page-item next" id="kt_ecommerce_category_table_next"><a href="#"
                    aria-controls="kt_ecommerce_category_table" data-dt-idx="3" tabindex="0" class="page-link"><i
                      class="next"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!--end::Card body-->
    </div>
    <!--end::Category-->
  </div>
  <!--end::Content container-->
</div>
<!--end::Content-->
