<app-kt-list-page
  [title]="'Table Booking'"
  [addurl]="'/pages/users/add'"
  (onFilter)="toggleFilters()"
  [showCreate]="false"
  [showDeleteAll]="showDeleteAllButton"
  (onDeleteAll)="onDeleteAll($event)"
>
  <form class="mt-3" [formGroup]="form" *ngIf="crudService.filters">
    <formly-form [form]="form" [fields]="fields" [model]="model" (modelChange)="debouncedSubmitFilters($event)"></formly-form>
  </form>
  <hr *ngIf="crudService.filters" />

  <app-kt-app-list-page-table
    [columns]="columns"
    [currentPage]="crudService.page"
    [totalPages]="crudService.lastPage"
    (pageChange)="changePage($event)"
    (changeSelectAll)="changeSelectAll($event); showDeleteAllButton = $event"
  >
    <!-- Show "No results found" when not loading and list is empty -->
    <tr *ngIf="!crudService.loading && crudService.list.length === 0">
      <td colspan="5" class="text-center">No results found.</td>
    </tr>
    <!-- Hide rows when loading -->
    <tr [hidden]="!(!crudService.loading && crudService.list.length > 0)" *ngFor="let item of crudService.list; let i = index">
      <td>
        <div class="d-flex align-items-center">
          <div class="ms-5">
            <!--begin::Title-->
            <a (click)="openDetails(i)" class="text-hover-primary fs-5 fw-bold" data-kt-ecommerce-product-filter="product_name">
              {{ item?.customer?.name }}
            </a>
            <!--end::Title-->
          </div>
        </div>
      </td>
      <td>
        <div class="d-flex">
          <div class="ms-4">
            <a class="fs-7 fw-bold text-hover-primary fs-5 fw-bold mb-1">
              <span class="badge badge-pill badge-primary">{{ item?.role }}</span>
            </a>
          </div>
        </div>
      </td>

      <td>
        <div class="d-flex">
          <div class="badge badge-light-primary fs-7 fw-bold">{{ item?.customer?.dial_code }}{{ item?.customer?.phone }}</div>
        </div>
      </td>
      <td>
        <div class="d-flex">
          <div class="badge badge-light-primary fs-7 fw-bold">{{ item?.customer?.email }}</div>
        </div>
      </td>
      <td>
        <div class="d-flex">
          <div class="text-muted fs-7 fw-bold">{{ item.booking_start.split(' ')[0] }}</div>
        </div>
      </td>
      <td>
        <div class="d-flex">
          <div class="text-muted fs-7 fw-bold">{{ item.booking_start.split(' ')[1] }}</div>
        </div>
      </td>

      <td>
        <div class="d-flex">
          <div class="badge badge-light-primary fs-7 fw-bold">{{ item.no_of_seats }}</div>
        </div>
      </td>
      <!-- <td>
          <div class="d-flex">
            <div class="fs-7 fw-bold">{{getRandomNumberBetween50And100()}}</div>
          </div>
        </td> -->
      <td>
        <app-list-table-booking-status [item]="item"></app-list-table-booking-status>
      </td>

      <!-- <ng-content></ng-content> -->
      <!--begin::Action=-->
      <td class="text-start d-flex flex-row justify-content-start align-items-center gap-3">
        <i class="ti ti-eye view-icon" style="font-size: 20px" (click)="openDetails(i)"></i>
        <i class="edit-icon ti ti-edit" style="font-size: 20px"></i>
        <i class="ti ti-trash trash-icon" style="font-size: 20px" (click)="deleteRow(i)"></i>
      </td>
      <!--end::Action=-->
      <!--begin::Checkbox-->
      <td>
        <div class="form-check form-check-sm form-check-custom form-check-solid">
          <input class="form-check-input" type="checkbox" value="1" />
        </div>
      </td>
      <!--end::Checkbox-->
      <!--end::Table row-->
    </tr>
  </app-kt-app-list-page-table>
</app-kt-list-page>
