<!--begin::Most Favourite Table Card-->
<div class="card card-flush">
  <!--begin::Header-->
  <div class="card-header border-0">
    <h4 class="card-title">
      <span class="card-label fw-bold text-dark">Most Favourite Table</span>
    </h4>
    <!--begin::Toolbar-->
    <!-- <div class="card-toolbar">
      <a href="#" class="btn btn-sm btn-dark" routerLink="/pages/tables/list">All Tables</a>
    </div> -->
    <!--end::Toolbar-->
  </div>
  <!--end::Header-->
  <!--begin::Body-->
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th class="px-0">Table Name</th>
          <th class="px-0">Floor</th>
          <th class="px-0">No of Orders</th>
          <th class="px-0">Total Amount</th>
        </tr>
      </thead>
      <tbody>
        <!-- Loop through the tables -->
        <tr *ngFor="let item of tables">
          <td class="px-0">
            <a href="javascript:void(0);" class="text-gray-800 text-hover-primary fs-5 fw-bold">
              {{ item?.name }}
            </a>
          </td>
          <td class="px-0">
            <a href="javascript:void(0);" class="text-gray-800 text-hover-primary fs-5 fw-bold">
              {{ item?.floor }}
            </a>
          </td>
          <td class="px-0">
            <a href="javascript:void(0);" class="text-gray-800 text-hover-primary fs-5 fw-bold">
              {{ item?.total_orders }}
            </a>
          </td>
          <td class="px-0">
            <a href="javascript:void(0);" class="text-gray-800 text-hover-primary fs-5 fw-bold">
              {{ this.currencySymbol + "" }} {{ item?.total_amount }}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--end::Body-->
</div>
<!--end::Most Favourite Table Card-->
