<!--begin::Most Favourite Table Card-->
<div class="card card-flush">
  <!--begin::Header-->
  <div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bold text-dark">Most Favourite Table</span>
      <span class="text-muted mt-1 fw-semibold fs-7">Avg. 72% active usage</span>
    </h3>
    <!--begin::Toolbar-->
    <div class="card-toolbar">
      <a href="#" class="btn btn-sm btn-light">All Tables</a>
    </div>
    <!--end::Toolbar-->
  </div>
  <!--end::Header-->
  <!--begin::Body-->
  <div class="card-body pt-5">
    <table class="table  ">
      <thead>
        <tr>
          <th class="px-0">Table Name</th>
          <th class="px-0" >Floor</th>
          <th class="px-0" >Usage</th>
        </tr>
      </thead>
      <tbody>
        <!-- Loop through the tables -->
        <tr *ngFor="let item of tables">

          <td class="px-0">
            <a href="javascript:void(0);" class=" text-gray-800 text-hover-primary fs-5 fw-bold">
              {{ item?.name }}
            </a>
          </td>
          <td class="px-0">
            <a href="javascript:void(0);" class="text-gray-800 text-hover-primary fs-5 fw-bold">
              {{ item?.floor }}
            </a>
          </td>
          <td class="px-0">
            <div class="d-flex align-items-center">
              <div class="progress h-6px w-100 me-2 bg-light-success">
                <div
                  class="progress-bar bg-success"
                  role="progressbar"
                  [style.width]="65 + '%'"
                  [attr.aria-valuenow]="65"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              <span class="text-gray-400 fw-semibold">65%</span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--end::Body-->
</div>
<!--end::Most Favourite Table Card-->
